[2013-11-08 21:38] 130s opened #1 "Define safety qualifications"

[2013-11-08 21:39] 130s opened #2 "Add full unittest suite"

[2013-11-08 21:39] 130s opened #3 "Add sample codes package"

[2013-11-08 21:40] 130s opened #4 "Add user's task-based document that contains how to write codes"

[2013-11-08 21:40] 130s opened #5 "Add stereo camera module"

[2013-11-08 21:40] 130s opened #6 "Port to ROS Hydro"

[2013-11-09 02:47] k-okada commented on #6
see https://code.google.com/p/rtm-ros-robotics/issues/detail?id=204 for progress

[2013-11-09 02:52] k-okada opened #7 "Extract common part from hironx"
[ここ](https://bitbucket.org/tork-a/iros13/issue/61/hiro-nextage)からの移譲．

hironxとコードが被らないようにしたいです．

また，
#2 , #3 などの一部は

http://rtm-ros-robotics.googlecode.com/svn/trunk/rtmros_hironx/hironx_ros_bridge/test/
でトライされています．

nextage_description,
hironx_description
さえあれば，あとは共通のコード（特にCMake周りか？）で動くようになっている，というのがベストでしょうか．

また，一部にhironxとnextageで微妙にファイル名が違うのも揃えておきたい所ではあります．
- [x] script/nextage_client_standalon

[2013-11-11 07:55] 130s opened #8 "Enable nextage_client_standalone to connect to remote host"
Currently it only connects to ros_bridge node running locally, which is very inconvenient when working with real robots.

[2013-11-11 07:57] k-okada commented on #8
./hironx.py --host remote.host should work as described in the last line of the code

see https://code.google.com/p/rtm-ros-robotics/source/browse/trunk/rtmros_hironx/hironx_ros_bridge/scripts/hironx.py

[2013-11-11 08:05] 130s opened #9 "NextageHand should stop air to blow when tool gets removed"
With the current implementation, the air blocked by the attached tool keeps coming out when the tool is off even if it's not needed.

[2013-11-11 08:07] 130s opened #10 "NextageHand wants to take feedback from DIO in"
As of f30ca67348feeb0fc380286a46502f585339231b input is not implemented.

[2013-11-11 08:15] 130s opened #11 "Throw exception when air compressor is not working"
Currently program doesn't know if the air is coming or not.

For me it was so confusing for a few weeks before I finally got used to checking up all the system is working at the beginning of a day.

[2013-11-14 10:15] 130s opened #12 "Decide document location (rtm-ros, Hiro, Nextage)"
From [here](https://bitbucket.org/tork-a/tork-business-model/issue/2/zendesk#comment-6825039).

Related: issue #7

[2013-11-14 10:16] 130s commented on #12
Proposal:
- rtmros, hiro --> [code.google.com](https://code.google.com/p/rtm-ros-robotics/wiki/)
- Nextage --> [wiki.ros.org](http://wiki.ros.org/rtmros_nextage)

[2013-11-14 11:17] k-okada commented on #12
wiki.ros.orgはデータは手元におけるんでしたっけ？
リビジョン管理などをかんがえると，ソースツリーと同じ所にドキュメントがあると
便利だとはおもうんですよね．
mainpage.dox
はそのひとつだし，前は僕達は
http://ftp.isr.ist.utl.pt/pub/roswiki/doc/api/jsk_tools/html/
というのを提唱していました．

今はどうなっているのかな．caktinなんかは別のdocumentationシステムになっていそうです．

[2013-11-15 01:48] k-okada commented on #12
http://docs.ros.org/independent/api/rosdep/html/
なんかは上でやっていたjsk_toolsのlaunchdocとにていて，
多分rosのdocサーバみたいなことrでsphinxを動かして
ドキュメントを生成しているかんじです．
こうすると，
ソースとドキュメントを同じツリーで管理できている気がします．

[2013-11-16 13:02] 130s commented on #12
以前すこし調べた結果が[ここ](https://github.com/start-jsk/hironx-package/issues/6#issuecomment-22423360)にあります．

確かに ros wiki に書くのは，backup は自分で取ってやらないと取れないので気が引けて，なるべく package.xml に書くようにしちゃってますが，`xml` 内に `html` を埋めるのを素手でやるので面倒；`rst` とか簡単な記法で書きたい．でも ros wiki は割と美しく表示されるから個人的に見た目が好きなのです，ROS に特化した macro もそれなりに充実しているし．それに，ユーザがある package に関する情報を取りに行くのは一箇所が望ましいので，ros wiki から github pages に飛ばすのも理想的ではない．うーむ．

[2013-11-16 13:37] k-okada commented on #12
ヤマカンですが，https://github.com/ros/catkinをみてみると，
package.xmlで

[code]

と書いておいて，
https://github.com/ros/catkin/blob/groovy-devel/rosdoc.yaml　で doc ディレクトリを参照する．
すると，
http://docs.ros.org/hydro/api/catkin/html/
が出来るようにおもいます．doc以下にドキュメントもおけますが，どうもコードから生成している部分
http://docs.ros.org/hydro/api/catkin/html/dev_guide/api/catkin.html
もありそうです．

[2013-11-16 14:30] 130s commented on #12
どうやらそうっぽいですね．レポジトリでドキュメントも管理できるのはナイス．

これらの懸念とどう折り合いをつけるか：
- wiki の手軽さを失う
- macro が使えない
  - moinmoin (他の package のページにリンクを貼るのに，現状だと二重括弧内に package 名だけ書けば良い．楽)
  - [ros wiki 独自のそれ](https://github.com/ros-infrastructure/roswiki)
- 閲覧者はリンクを辿る手間が増える (ros package のドキュメントの入り口は ros wiki であることは変わらない)

[2013-11-17 13:55] 130s commented on #6
binary 0.2.3 is built and available in `shadow-fix` repo. Together with [this ticket](https://github.com/start-jsk/hironx-package/issues/55) I'll test runtime.

[2013-11-26 04:06] 130s opened #14 "BAD_PARAM: CORBA.BAD_PARAM(omniORB.BAD_PARAM_IndexOutOfRange, CORBA.COMPLETED_NO)"
After building `hrpsys` with [these tweaks](http://code.google.com/p/rtm-ros-robotics/issues/detail?id=271#c1), I get `corba` error.

[code]

Using [r6204](https://code.google.com/p/rtm-ros-robotics/source/detail?r=6204) and e9c41886e28fb144dbc296c04069cb99dbac0892.

@emijah.s

[2013-11-26 04:09] emijah commented on #14
localに持っているIDLをコンパイルした*.pyファイルは最新版に上がっていますか？

[2013-11-26 04:18] k-okada commented on #14
たぶん，QNX側がUrokのソースツリー（古い）であれば，手元のソースも同じバージョンに合わせておく必要があります．
逆にQNX側が最新なら，手元も最新の必要がありますね．

CORBAはROSみたいにmismatch md5sum と言ってくれないのでわかりづらいです．．．

[2013-11-26 04:44] 130s commented on #14
体内をまだ彼から送られてきたソースに入れ替えてはおらず，20130905 時点のものを使っていて ([dir structure](https://docs.google.com/file/d/0Bw_hbVS3wTLyZHRxLTQ1QUpZU0U/edit))，つい先程そこに `hrpsys` を[スクリプトでインストール](http://code.google.com/p/rtm-ros-robotics/issues/detail?id=271#c1)し直しました．

念の為 local 側を clean install してから試します．

[2013-11-26 04:48] 130s commented on #14
Local 側を clean install しましたが，`[hrpsys.py]  Could not find  RobotHardware0` は変わりません．末尾のエラーは `TRANSIENT: CORBA.TRANSIENT(omniORB.TRANSIENT_ConnectFailed, CORBA.COMPLETED_NO)` に変わりました．

[code]

[2013-11-26 04:50] k-okada commented on #14
rtls で状況を確認しましょう．

On Tue, Nov 26, 2013 at 1:48 PM, Isaac Isao Saito
notifications@github.comwrote:

[2013-11-26 05:07] k-okada commented on #14
いまは，今の設定で動かすことを最優先すべきですが，上の作業をしちゃうと，Urkoの手元のPCのソースを更新する必要があるので，デモの直前にその選択をするか？しないと，デモがうごかなくなるんじゃないでしょうか？

[2013-11-26 05:08] k-okada commented on #14
ああ，hrpsysとopenhrp3のバージョンもリンクしているので，体内でhrpsysだけ更新すると，立ち上がりきれていないんじゃないでしょうか？

[2013-11-26 05:24] 130s commented on #14
おお，なるほど．

今気付きましたが，今日はとにかく QNX 上でビルドが出来れば良い (最新版 hrpsys である必要はない)
ので，この問題は放っておきます；ビルドする必要があるファイルだけビルドして，古い版の `/opt/jsk` に差し戻します．

[2013-11-29 10:39] 130s commented on #2
As noted in #7, we should consider integrating `unittest`s with other rtmros-based components as much as possible. Test cases have been accumulated [here](https://code.google.com/p/rtm-ros-robotics/source/browse/#svn%2Ftrunk%2Frtmros_hironx%2Fhironx_ros_bridge%2Ftest).

[2013-11-29 10:42] 130s commented on #5
There are at least 4 ROS packages that handle `uEye` now, and [somebody is interested in incorporating those](http://lists.ros.org/pipermail/ros-users/2013-November/068056.html). We can ask him to release as ROS deb, or we can take that part depending on workload.

[2013-11-29 10:47] 130s opened #15 "RViz segfaults when working on its plugin pane while Nextage model is read"
From [here](https://bitbucket.org/tork-a/iros13/issue/29/nextage-robot-model-rviz-segfault) (repo is private). Observed on multiple Ubuntu 12.04 machines.

This hinders us to add objects in the environment (eg. table) for Nextage.

[2013-11-29 10:47] 130s commented on #15
Is [this issue](https://github.com/ros/robot_model/issues/45) related? Maybe not.

[2013-11-29 11:20] 130s opened #16 "Collada Error: COLLADA error: Failed to load file:/tmp/buildd/ros-groovy-nextage-ros-bridge-0.2.3-0precise-XX/models/nextage.dae"
[code]

Looks very similar to http://code.google.com/p/rtm-ros-robotics/issues/detail?id=266, so similar patch can be tried. Happens with deb in hydro too.

[2013-12-03 02:06] 130s opened #17 "Release 0.2.4"
to include e9c41886e28fb144dbc296c04069cb99dbac0892

Now ongoing.

[2013-12-03 02:15] 130s commented on #17
[Prerelease passed for hydro](http://jenkins.ros.org/view/Prerelease/job/prerelease-hydro-rtmros_nextage/4/). Forgot for Groovy.

PReqs opened to rosdistro https://github.com/ros/rosdistro/pull/2661 https://github.com/ros/rosdistro/pull/2660

[2013-12-03 02:15] #17 closed, assigned to 130s

[2013-12-28 01:06] 130s commented on #7
Moved to http://code.google.com/p/rtm-ros-robotics/issues/detail?id=291

[2013-12-28 01:06] #7 closed, assigned to 130s

[2014-01-07 20:21] 130s commented on #6
Hydro version is released

[2014-01-07 20:21] #6 closed, assigned to nobody

[2014-01-07 20:25] 130s opened #18 "Rename package to reflect the robot product name Nextage Open"
As requested from robot vendor (Kawada), `Nextage` and `Nextage Open` are different products. Since this ROS package corresponds to Open version only, they want the package name specifically distinguished.

Maybe `rtmros_nextage_open` would do?

[2014-01-08 02:34] k-okada commented on #18
Rethink uses baxter as package name[1] although baxter and baxter research is different products, so nextage seems ok for users.

[1] https://github.com/RethinkRobotics

[2014-01-08 08:06] emijah commented on #18
However, ordinary Nextage users may try to install this and overwhelm the support page with complaints.

[2014-01-09 03:53] k-okada commented on #18
looking from different point of view, that's good for opensource community to let closed nextage users know about opensource nextage.

[2014-01-09 03:59] emijah commented on #18
Ah, nice point. However, if you use the other name you can also spread awareness of the "Open" version. ;)

[2014-01-09 09:40] 130s opened #19 "Integrate MoveIt! Pick and Place"
http://moveit.ros.org/wiki/PickAndPlace

It would be just nice :)

[2014-01-13 06:39] 130s opened #20 "AttributeError: 'NoneType' object has no attribute 'get_port_profile'"
[code]

[2014-01-13 06:40] 130s commented on #20
[Related issue report](http://code.google.com/p/hrpsys-base/issues/detail?id=169) in `hrpsys`.

[2014-01-13 09:47] 130s opened #21 "Changing initial calibration process"
From one of the core users:

[code]

Someone in a manufacturing company:
[code]

[2014-01-14 02:06] 130s opened #22 "(Documentation) Rename with all letters capital (to NEXTAGE OPEN)"
Turned out vendor's official naming is all capital, `NEXTAGE OPEN`. Wiki pages, `package.xml` need to be updated.

[2014-01-14 23:12] 130s opened #23 "Arms down on hydro simulation"
I'm trying Nextage clients on simulation (before our robot gets ready) and found that with `Hydro` version, arms remain down and digging into the base (see image). Because the client version is the same, I suspect something in dependency in Hydro?

![nextage_sim_arms_down_hydro](https://f.cloud.github.com/assets/1840401/1916044/554c13ea-7d71-11e3-94e2-f68e6e5876c2.png)

Hydro

[code]

Groovy

[cod

[2014-01-14 23:15] 130s commented on #23
Just noticed that I pasted wrong version for `groovy` and its version is 0.0.1 newer (output above is corrected). I'll look into it.

[2014-01-14 23:18] 130s commented on #23
But the difference made after `0.2.5` seems irrelevant.

[2014-01-14 23:23] k-okada commented on #23
You have to run hrpsys+rosbridge to move arm up
, that's publishes joint_states.

[2014-01-14 23:24] 130s commented on #23
Moving end effector using `Interactive Marker` to a random feasible location and clicking `Plan and Execute` moves both arms to the right poses. So all seems working except initial state.

[2014-01-14 23:25] 130s commented on #23
Sorry to forget to mention but on one terminal the following is running:

[code]

[2014-01-15 00:36] k-okada commented on #23
I confirmed the initial state problem, I'll check them.

[2014-01-15 01:07] 130s opened #24 "ImportError: No module named rtm"
With commit b5095151a7872d9cd18215db1aa2b66bdc39afb7 (checked both on `Hydro` and `Groovy` on both `Raring` and `Precise`):

[code]

Btw this is likely to occur with `hironx` too because of [this commit](http://code.google.com/p/rtm-ros-robotics/source/detail?r=6767).

Any workaround @emijah @k-okada ?

[2014-01-15 02:13] k-okada commented on #23
i'm not sure why but `move_group` publishes `/move_group/monitored_planning_scene` when joint_states has updated, This means that if you issue `hiro.goInitial()`, then the robots in the rviz updated.
In the case of real robot, the joint_states is not always constant even if the robot does not moves, so I hope the robots in rviz will updated.

[2014-01-15 02:44] 130s commented on #24
Fixed via 49d636ae9b9e7ff436bafd67b615dd0b12764918

[2014-01-15 02:44] #24 closed, assigned to nobody

[2014-01-15 03:00] 130s opened #25 "RTCmanager connection issue"
(Update) Originally titled as `[hrpsys.py]  wait for RTCmanager :  None`, but over time related issues are succeeding so I've renamed with more general title.

---

On `Raring` using the commit https://github.com/tork-a/rtmros_nextage/commit/49d636ae9b9e7ff436bafd67b615dd0b12764918 for rtmros_nextage and [this commit](http://code.google.com/p/rtm-ros-robotics/source/detail?r=6773) for `hironx`, I

[2014-01-15 03:09] 130s commented on #25
Inside the robot on QNX,

[code]

[2014-01-15 03:12] emijah commented on #25
hmmm, Can you please add the output from when you do,

[code]

before ipython

[2014-01-15 03:15] k-okada commented on #25
--ORBInitRef.. option is deprecated, use --host and --port

[2014-01-15 03:23] k-okada commented on #25
configuration ORB with  130s-t440s : 15005
 should be
configuration ORB with 192.168.128.10: 15005
???
please force fix rtm.py with
        nshost = '192.168.128.10'
        print "configuration ORB with ", nshost, ":", nsport
and see what's happens

[2014-01-15 03:32] k-okada commented on #25
I'm not sure but we have to change nextage.py as follows, to use --host command option

[code]

[2014-01-15 03:37] emijah commented on #25
Ah, this makes more sense

[2014-01-15 03:52] 130s commented on #25
(sending via email doesn't reflect formatting blah)

With this suggested change:

[code]

Error msg changed:

[code]

At `[hrpsys.py]  finding RTCManager and RobotHardware` it halts for a few second.

[2014-01-15 04:00] emijah commented on #25
Can you see what managerhost is at hrpsys_config.py:475.

[2014-01-15 04:03] 130s commented on #25
[hrpsys.py]  130s-DEBUG) wait for RTCmanager :  None

[2014-01-15 04:04] k-okada commented on #25
I suspect this fixes did not needed -> https://github.com/start-jsk/hironx-package/issues/64#issuecomment-32150815

[2014-01-15 04:08] 130s commented on #25
Hardcoding `rtm.py` like this still causes the same/similar error.

[code]

[code]

[2014-01-15 04:13] k-okada commented on #25
what is hostname variable in 338 of rtm.py?

[2014-01-15 04:16] 130s commented on #25
@k-okada

I'm not using that change (that is only tentatively applied on Ubuntu with nxc100).

[2014-01-15 04:18] 130s commented on #25
rtm.py

[code]

Result:

[2014-01-15 04:20] k-okada commented on #25
so, please check

[code]

[2014-01-15 04:22] k-okada commented on #25
I see, this code assumes you use hostname, not ip address for --host option. try with nx010 or something. or remove, hostname.split(".")[0],

[2014-01-15 04:22] emijah commented on #25
This would use "192" as the hostname.

[2014-01-15 04:26] 130s commented on #25
Now asking a robot "owner" if he can set `hostname` on this robot...

[2014-01-15 04:34] 130s commented on #25
(Btw this error `herror: [Errno 1] Unknown host` occurs both on `Raring` and on `Precise`)

[2014-01-15 04:40] k-okada commented on #25
add ticket at here -> http://code.google.com/p/hrpsys-base/issues/detail?id=173

quick hack might be....

[code]

[2014-01-15 04:40] 130s commented on #25
Worked with `hostname`:

[code]

[2014-01-15 04:42] 130s commented on #25
Ok we can leave this issue to http://code.google.com/p/hrpsys-base/issues/detail?id=173 and close. Thank you so much!!!

[2014-01-15 04:42] #25 closed, assigned to nobody

[2014-01-15 06:13] 130s opened #27 "cartesian minimum increments is still 0.005"
With `315.1.5-0precise-20131231-0434-+0000` that I think includes [patches here](https://code.google.com/p/hrpsys-base/issues/detail?id=168), increments `0.001` (discussed [here](https://code.google.com/p/rtm-ros-robotics/issues/detail?id=267) doesn't seem to be achievable yet.

With this snippet of code, arm moves only occasionally:

[code]

[2014-01-15 06:19] 130s commented on #27
Maybe `hrpsys` on robot's side might have not been updated yet?

[2014-01-15 06:20] k-okada commented on #27
You have to check hrpsys version on robot side

[2014-01-15 06:37] 130s commented on #27
Sounds like binary in robot is old. Invalid.

(I'm using binary I copied from previous robot where it turned out someone recently re-built without me knowing it...)

[2014-01-15 06:37] #27 closed, assigned to nobody

[2014-01-15 15:51] 130s opened #29 "Implement more permissible tolerance"
AFA we've figured out today with @emijah, the path of the arm going to backside would be very aggressively passing near the base, and depending on the attached gripper's condition it can easily hit the base.

[2014-01-15 16:41] emijah commented on #29
It would be nice if we can lower the robot, so that the robot looks to be closer to the base than it actually is.

[2014-01-16 03:00] 130s opened #30 "NextageClient.setTargetPoseRelative sometimes does not change pose"
[code]

So far I've seen it occurred with once per `dx` and `dz`, out of 5+ times of running.

Using rtmros_nextage 9f5d9dc1669ae894bcf98cde3f9c669f6ff96ecf

fyi @emijah

[2014-01-16 03:08] 130s commented on #30
`hrpsys-base` on robot was fetched on 12/30/2013 (around [r953](http://code.google.com/p/hrpsys-base/source/detail?r=953))

[2014-01-16 03:38] k-okada commented on #30
please check output of hrpsys, sometimes it fails to solves ik.

Another possibility is we set m_error_pos to 0.0001, so if 0.0001 threshold is equal to the commanded difference 0.0001, then it returns as succeeded, because the error is already within 0.0001 tolerance/precision.

[code]

You can use

[code]

function to set more smaller goal tolerance value, but it may increase chance to not solve

[2014-01-16 04:48] 130s opened #31 "Model is different from actual robot?"
We noticed that at least around EEF. More detail to come.
@emijah might be posting high-resolution pictures now.

[2014-01-16 05:19] emijah commented on #31
Pictures have been shared.

[2014-01-20 07:19] 130s opened #33 "(Tutorial) add your own hand module"
I'm assigning myself but I'll keep my work in full-opensource manner. Your review, correction is appreciated.

[2014-01-20 07:20] 130s commented on #33
Started on ROS wiki that everyone can edit.
http://wiki.ros.org/rtmros_nextage/Tutorials/To%20write%20a%20hand%20module%20for%20Nextage%20Open

fyi @emijah

[2014-01-21 04:23] 130s commented on #20
Fixed in [r956 in hrpsys-base](http://code.google.com/p/hrpsys-base/source/detail?r=956).

`hrpsys` inside the robot (ie. on `QNX`) needs updated to at least `v315.1.6`.

[2014-01-21 04:23] #20 closed, assigned to nobody

[2014-01-23 08:37] 130s commented on #30
Using the suggested method worked. Not sure, though, why we had to set even
smaller values like below to resolve the issue:

[code]

(Not sure exactly what values we ended up using. Gotta check it with a real
robot)

[code]

As far as I observed during more than a few dozens of testing, I only saw
the no ik solution happening only occasionally.

Now that the reasoning and valid workaround is known

[2014-01-23 08:37] #30 closed, assigned to nobody

[2014-01-23 08:42] 130s opened #35 "View angle in hrpsys_viewer is off"
![nextage_hrpsys_viewer_angleoff](https://f.cloud.github.com/assets/1840401/1982924/1f3cbaa8-840a-11e3-8694-987cca92118c.png)

It'd be nice if we can see the robot's face when the viewer launches! More seriously, it'd be nice to have a better look at arms at the beginning.

[2014-01-23 11:10] 130s commented on #29
Looks like padding is now integrated into MoveIt! on its upstream repository. We can test via source or wait until its new deb will be available.

[2014-01-23 11:10] 130s commented on #29
https://github.com/ros-planning/moveit_ros/issues/402 Link to the enhancement in MoveIt!

[2014-01-28 01:28] k-okada commented on #33
I have updatead wiki, this examples SuctionHand.wrl but it is not public right now, so no one can test this tutorial nor  we can not put images to show how it works. @emijah, can you put SuctionHand.wrl to the repository? or we have to ask somebody for example gripper model.

[2014-01-28 01:29] emijah commented on #33
I'm on it. I'll need to check permission too.

[2014-01-28 02:57] emijah commented on #33
The title seems a bit odd.
http://wiki.ros.org/rtmros_nextage/Tutorials/To write a hand module for
Nextage Open

How about "Writing Hand Modules for Nextage Open"?

2014-01-28 Kei Okada notifications@github.com

[2014-01-28 03:09] k-okada commented on #33
I see
If uses want to change grippers on the real robot, they will look for documtns named
-  Changing Nextage Grippers or Changing Grippers on Nextage Robot

Then, they will notice that they have to change grippers on software system, so how about
- Changing Nextage Grippers in Robot Model ?
- Changing Nextage Grippers in Simulated Robot?

[2014-01-28 04:02] emijah commented on #33
Yes, that suggestion is best.

[2014-01-28 05:14] 130s commented on #12
最近 bloom は https://read-the-docs.readthedocs.org/en/latest/getting_started.html に乗り換えたようです．github にアップロードすると自動的に html を生成してくれるような．ナイスですがいづれにせよ[上に書いた懸念](https://github.com/tork-a/rtmros_nextage/issues/12#issuecomment-28627642)は変わらない．．
理想的なのは mainpage.dox のような，パッケージ内の doc ファイルを ros wiki が読み込んでくれることですかねえ．．

[2014-01-28 05:22] 130s opened #36 "API doc for NextageClient.py"
I'm working on it, mainly. Contributions, s'il vous plait!

I'm implementing this currently on `hironx_ros_bridge/hironx_client.py`, which `NextageClient` extends and it is a direct child class of `hrpsys.HrpsysConfigurator` (this is also elaborated [in this ticket](http://code.google.com/p/rtm-ros-robotics/issues/detail?id=304#c1)).

Other related topic: http://code.google.com/p/rtm-ros-robotics/

[2014-01-28 05:27] 130s commented on #36
Example commit of work in progress: http://code.google.com/p/rtm-ros-robotics/source/detail?r=6792

[2014-01-28 05:32] 130s commented on #36
Because the repository we're adding changes for this task is `svn`, I suggest everyone sends patch on this ticket (pasting or attaching diff) instead of directly committing even if you have a right to do.

[2014-01-28 06:22] 130s commented on #14
Closing due to inability to replicate the exact situation. Valid workaround at that time might be to build the newest hrpsys, openhrp3.

[2014-01-28 06:22] #14 closed, assigned to nobody

[2014-01-28 06:41] 130s opened #37 "Define how to manage robot's serial number"
When you need to work with multiple robots of the same or slightly different model, it's so important to be able to tell the version of software installed per each robot. This is crucial particularly for the robots like NEXTAGE OPEN that runs on `QNX` where package management system is not used to manage the version number of robot components.

One way done at jsk lab I heard is to use environment

[2014-01-28 06:58] 130s opened #38 "Create device status checker"
From @k-okada

`pr2-systemcheck` that `PR2` has would be nice.

https://fling.seas.upenn.edu/~pr2grasp/wiki/index.php?title=3.25.11-pr2-systemcheck&action=edit

[code]

In my personal experience while setting a new robot, multi-core mode wasn't activated while it is required, and I didn't find it until someone who's familiar checked it. Hopefully that kind of oversight can be avoided with automate

[2014-01-28 08:29] k-okada commented on #38
diagnostics of hrpsys_ros_bridge requires that ROS is running, but, if something wrong, ROS is usually fail to start.

[2014-01-29 02:03] 130s commented on #30
I confirm that this also happens with simulation, and the [reported workaround](https://github.com/tork-a/rtmros_nextage/issues/30#issuecomment-33105646) works as well.

@k-okada Is it better to call `seq_svc.setMaxIKError` by default in `HrpsysConfigurator` client in general or not?

To replicate:

[code]

[code]

[2014-01-29 02:51] k-okada commented on #12
優先順位としては
1)  in-source documentation　→　ソースと文章の乖離の阻止
2)  wikiの手軽さ→だれでも編集できる？
3)  ros向けのmacro
みたいなかんじでしょうか．

readthedocs はwikiではないけど，github上で編集するということで，そこそこ手軽なのかな．code APIみたいなもも統合されていたりするのかな．ただ，枯れたものでないと半年後には新しい物が出てきました，といって乗り換えていく体力はないので，要注意ですが．ただこういうのがでてきた，ということではdoc以下にファイルを作っておいて，あとはその時におうじて表示ツール（サービス）を選べばいいという気もしますね．

はいい気がしますね．

[2014-01-29 05:56] k-okada commented on #30
The parameters depends on manipulator's kinematics so it is better to include in hironx_clinet.py level. From my impression, this 0.00001 is too small in general and I'm afraid that it would have some side effects, for example, the ik process does not converge during default iteration limit or posture close to singularity pose. But as long as it works for the test code, we can include them as defa

[2014-01-29 06:44] emijah commented on #30
Would it be possible to make it a two step call?
You first converge with a large error and then tune the solution by
changing the maxIKError to something smaller and calculating again from
where you left off.

2014-01-29 Kei Okada notifications@github.com

[2014-01-29 12:43] k-okada commented on #23
Is this related to the issue discussed in https://github.com/ros-planning/moveit_ros/pull/407 ??

[2014-01-31 06:43] 130s opened #40 "Issue #20 persists when hrpsys version is old inside the robot (AttributeError: 'NoneType' object has no attribute 'get_port_profile')"
Solution in issue #20 might not work when the version of `hrpsys` inside the robot does not contain [this patch](http://code.google.com/p/hrpsys-base/source/detail?path=/trunk/python/hrpsys_config.py&r=958) or other related changes if any (newly introduced ports do not exist in the robot). And considering there are cases where robot's internal binary can not often be updated, we need a workaround

[2014-01-31 06:58] emijah commented on #40
One thing you can do, is use the following condition to check for port names before actually connecting.

[code]

[2014-01-31 15:13] k-okada commented on #40
We should try not to write robot-depends codes as much as possible, that's is the key to create more robust code,  as Linus's Law "given enough eyeballs, all bugs are shallow".

So my proposal is to add following codes in rtm.py so that we can avoid similar problem in the future.

[code]

[2014-02-01 00:15] 130s commented on #40
+1000

@emijah is on this

[2014-02-01 00:29] emijah commented on #40
I agree that this would be a more robust solution.

I have confirmed this works. Output follows.

[code]

[2014-02-01 00:30] emijah commented on #40
The error output could probably be improved.
It will be a bit of a drastic change, but if you change the arguments for connectPorts to be
connectPorts(self.rh, 'q', self.tc, 'qCurrent')
Then you can capture the error within the function and return the RTC name and port name combination that were the culprits.
Or you could add a new function "connectPort" and depreciate the connectPorts interface.

[2014-02-01 01:17] emijah commented on #40
I've modified connectPorts and wrote a function called connectPort.

The output is now changed to this.

[code]

I modified connectPorts to create a function connectPort. I also modified connectComps which is also shown below.

[code]

I also modified connectComps as follows.

[code]

[2014-02-01 03:14] k-okada commented on #40
I thought about similar idea but we also need to find other files that uses connectPort function[1]. If Python has macro, we can write as follows:

[code]

this outputs

[code]

[1] http://code.google.com/p/rtm-ros-robotics/source/browse/trunk/rtmros_common/hrpsys_ros_bridge/scripts/sensor_ros_bridge_connect.py

[2014-02-01 04:11] k-okada commented on #40
上記修正を加えてhrpsys-baseを315.1.7にしました．

[2014-02-01 04:11] #40 closed, assigned to emijah

[2014-02-01 09:00] k-okada commented on #38
pidin info will show the number of CPUs

$ pidin  info
CPU:X86 Release:6.5.0  FreeMem:836Mb/1023Mb BootTime:Nov 27 12:05:41 UTC 2013
Processes: 34, Threads: 94
Processor1: 131758 Intel 686 F6M15S2 1968MHz FPU

[2014-02-01 09:19] k-okada commented on #33
ok , I have changed the page title http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model

Hajime-san, can you get permission for SuctionHand.wrl? we need this one to finish the documents

[2014-02-01 13:21] 130s commented on #9
Fixed via 5f02466

[2014-02-01 13:21] #9 closed, assigned to nobody

[2014-02-01 13:37] 130s commented on #9
Issue and how it's fixed are more documented in-source [here](https://github.com/tork-a/rtmros_nextage/blob/6ae31992e324d2880a1e5ca15f04f5e2275b7aa1/nextage_ros_bridge/src/nextage_ros_bridge/command/toolchanger_command.py#L59).

fyi @emijah. The fix is confirmed by Nshimasan.

[2014-02-01 13:41] 130s commented on #2
[Started](https://github.com/tork-a/rtmros_nextage/tree/b53fdb3adffe3a4d3f90a7ba9435e786b05f8db7/nextage_ros_bridge/test)

[2014-02-02 13:19] 130s commented on #33
python module writing part done
http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model#Create_Software_In_Python

[2014-02-02 17:31] 130s commented on #33
@k-okada could you upload again `hironx_gripper_model.png` at http://wiki.ros.org/action/AttachFile/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model?action=AttachFile? It got deleted when you moved the wiki page

[2014-02-02 23:41] emijah commented on #40
Actually I think the lisp macro equivalent would be python decorator functions. I'll try to implement something for future reference.

[2014-02-02 23:46] emijah commented on #33
Sorry I'm still working on the model. I have VRML files of the parts but
for some reason I can't import them.

2014-02-03 Isaac Isao Saito notifications@github.com:

[2014-02-03 00:30] k-okada commented on #33
@130 I had attached the gripper model png file.

[2014-02-03 02:07] 130s commented on #33
@k-okada > I had attached the gripper model png file.

Arigatou gozaimasu.

Do you use editor to modify wiki? [Your last change](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model?action=diff&rev2=24&rev1=23) stopped the `CodeRef` macro (that needs new line feed when defining `block`). I've already fixed in the latest commit.

[2014-02-03 03:27] k-okada commented on #33
I used GUI interface, sorry if I broke documents.

[2014-02-03 03:59] 130s commented on #33
I see, that issue is now reported (as referenced)

[2014-02-03 05:05] 130s commented on #40
I confirmed that the patch in hrpsys built from source works on simulator.

[2014-02-03 05:21] emijah commented on #40
Found out that using decorators is not possible because the arguments are already None when entering the function. Therefore it is impossible to get the port names with the current argument list.

[2014-02-03 05:23] acornacorn commented on #23
Yes, I think this may be related to discussion in https://github.com/ros-planning/moveit_ros/pull/407 and may be fixed by pull request https://github.com/ros-planning/moveit_ros/pull/409 .  You can test with

[2014-02-04 01:57] 130s commented on #23
I'll try this on later. Thanks for the heads up @acornacorn

[2014-02-05 00:17] emijah commented on #2
Nice

[2014-02-07 03:24] 130s opened #46 "Modify move_group.launch"
Users action is required per the recent change in MoveIt!.
https://groups.google.com/forum/#!topic/moveit-users/mUQqqFsGu9U

I'll look. This needs to be taken care of for `Hiro-NEXTAGE OPEN` users  before users update their debs.

[2014-02-07 15:24] 130s opened #47 "Self collision detection for Hiro-NXOpen robots"
Sounds like a common requirement for the robot client. Especially there are two "modes" (`hrpsys`, ``MoveIt!`), solution may involve design restructuring.

Ideas, and pros and cons per each are such.  Both ideas needs extensive tests.:
- Integrate `MoveIt!` with all methods in [HIRONX](http://docs.ros.org/hydro/api/hironx_ros_bridge/html/classhironx__ros__bridge_1_1hironx__client_1_1HIRONX.html)

[2014-02-13 03:35] k-okada commented on #12
githubの使い方，みたいな話を，
http://wiki.ros.org/rosdistro/Tutorials/Indexing%20Your%20ROS%20Repository%20for%20Documentation%20Generation
みたいな，チュートリアルがあるといいなとおもいました．
rtmros_commonのREADME.mdに書いて，ほかのパッケージはそこを参照するようにする，というかんじでしょうか？　あるいは，mdは，roswikiに飛ぶだけにしたほうが良さそうでしょうか？

[2014-02-13 06:58] k-okada commented on #12
https://github.com/k-okada/rtmros_common/blob/master/README.md に簡単なgithub使い方を書きました．より詳しい方法は追加しておいて下さい．@garaemon

@mmurooka pull request お願いします．

[2014-02-14 05:23] 130s commented on #25
Hope [this issue](http://code.google.com/p/hrpsys-base/issues/detail?id=173) in `hrpsys-base` will soon be addressed. I just needed [this [patch](https://github.com/start-jsk/rtmros_hironx/pull/3) in another robot client.

[2014-02-14 06:07] 130s commented on #2
test files need to be installed. I'll do

[2014-02-14 09:41] garaemon commented on #12
他人の変更を自分のgitに取り込む方法について追加しておきました

https://github.com/k-okada/rtmros_common/pull/1

[2014-02-15 12:42] 130s commented on #15
This issue might have been solved with some recent updates in MoveIt!. Need update.

[2014-02-15 13:04] 130s commented on #33
Done. http://wiki.ros.org/rtmros_nextage/Tutorials
Improvements can be directly applied on the wiki page. Also anyone interested in updates made on wiki should subscribe each tutorial page.

[2014-02-15 13:04] #33 closed, assigned to 130s

[2014-02-17 17:32] k-okada commented on #25
本件，以下にテストプログラムをつくりましたが，これは何が悪かったんでしたでしたっけ？
https://github.com/start-jsk/hrpsys/pull/1

テストプログラムの結果は以下のようになるんですが（実際はrostestで結果が表示されないのと，
以下はデバッグコードがふんだんに取り込まれていますが），hostname='unknown'の時（名前が引けない時）

  File
"/home/k-okada/catkin_ws/ws_hrpsys/devel/lib/python2.7/dist-packages/hrpsys/rtm.py",
line 337, in findRTCmanager
    socket.gethostbyaddr(hostname)[0],
socket.gaierror: [Errno -2] Name or service n

[2014-02-17 17:46] k-okada commented on #25
それとも，セットしたIPが間違えているかネットワークがとどかなくて，
herror: [Errno 1] Unknown host
と出ているけど，気が付きにくい，ということでしょうか？

2014-02-18 2:32 GMT+09:00 Kei Okada k-okada@jsk.t.u-tokyo.ac.jp:

[2014-02-18 02:47] 130s commented on #25
The issue was when `HrpsysConfigurator` client (eg. Hironx, NextageClient) tries to connect to a real robot, `hostname` of the robot got overwritten with that of the machine where the client program runs on ([this ticket](https://github.com/tork-a/rtmros_nextage/issues/25) does not clearly state what the exact problem was..).

[2014-02-18 02:54] emijah commented on #25
It seems that the module that gets called, is not the one that has the global variables set. So initCORBA is called with nshost and nsport set to "None".
If --ORBInitRef is not set, the hostname defaults to the environment the script is running on.

[2014-02-18 03:59] k-okada commented on #25
I see, I create test code to check this problem. https://github.com/start-jsk/rtmros_common/pull/323, https://github.com/k-okada/rtmros_common/blob/master/hrpsys_tools/test/test-hrpsys-config.test,https://github.com/k-okada/rtmros_common/blob/master/hrpsys_tools/test/test-hrpsys-config.py

[2014-02-18 04:17] 130s opened #48 "Integrate lint"
Use [pylint](http://www.pylint.org) or [roslint](http://wiki.ros.org/roslint) or something else.

Once it goes well we can propagate into other rtm-ros packages.
Not very high priority.

fyi @emijah

[2014-02-18 05:52] 130s commented on #16
Not seen these days. Closing for now.

[code]

[2014-02-18 05:52] #16 closed, assigned to 130s

[2014-02-18 06:15] emijah commented on #48
roslint seems like a nice choice. Looks like it'll do both c++ and python checks.

[2014-02-20 11:54] 130s commented on #5
[Discussion among ROS users restarted](http://lists.ros.org/pipermail/ros-users/2014-February/068255.html) randomly. fyi @emijah

[2014-02-21 00:46] 130s opened #51 "Different reference frames b/w hironx and nxopen"
Because of the base added to the model of `NEXTAGE OPEN`, it's height is different from that of `Hironx`. This causes an issue eg. when using a same program that works with `hironx` that passes an absolute pose to methods like `setTargetPose`.

A suggested simple solution would be to change those methods that cause issues to accept ref frame, in either `hrpsys` level or in client (`NextageClient`)

[2014-02-21 00:48] 130s commented on #51
I mean issues occur when using the same program with hironx. I updated the original description.

[2014-02-21 05:51] 130s opened #52 "Enable/document impedance control"
Since it's been done on `HRP2` and `Schaft` robots via `hrpsys`, we may just have to adjust it to Hiro/Nextage (if necessary), or we may just even document how to enable it.

[2014-02-21 07:13] k-okada commented on #52
controller itself is tested, but sensor driver for hiro/nextage hardware  is missing. some one need to write them. I'm not sure but we may start from `http://www.nitta.co.jp/?post_type=sensor&p=4378` this sample program.

[2014-02-24 15:33] 130s commented on #1
That's left up to upper level activity.

[2014-02-24 15:33] #1 closed, assigned to nobody

[2014-02-25 03:08] 130s commented on #51
[Patch added to hrpsys](https://code.google.com/p/hrpsys-base/issues/detail?id=184).

But now, as one of the core users says, even with this patch, exactly the same client program cannot be used for both robots; for either robot you have to specify the reference frame.

[2014-02-25 03:16] 130s commented on #51
Suggestion; with the following, we could work this issue around without changing model nor client program.
- No change to [hironx_client.Hironx](https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py).
- In [nextage_client.NextageClient](https://github.com/tork-a/rtmros_nextage/blob/groovy-devel/nextage_ros_bridge/src/nextage_ros_bridg

[2014-02-25 03:35] k-okada commented on #51
+1, but you must be very careful when we hrpsys 315.2.0 is out.

[2014-02-25 05:14] 130s commented on #51
We can try setting versions of the dependency in package.xml
http://www.ros.org/reps/rep-0127.html#various once the new version of
`hrpsys` is out.

[2014-02-26 04:00] 130s commented on #12
Looks like `rosdoc.yaml` and `mainpage.dox` are still functionally converted to html.

Just found an example.
https://github.com/ros-controls/ros_control/blob/hydro-devel/transmission_interface/mainpage.dox
becomes
http://docs.ros.org/hydro/api/transmission_interface/html/c++/

[2014-02-27 09:42] k-okada commented on #51
does this means my_package depends on genmsg of version 1.1-2.0? or
version 1.1-2.0 of my_package depends on genmsg?

[2014-03-01 13:13] 130s opened #53 "(nextage.RobotHardware.conf) path of someone's machine is hardcoded"
This commit [IS bad](https://github.com/tork-a/rtmros_nextage/blob/795a41e678c9999c20086c4409d686f2fefa1bb0/nextage_ros_bridge/conf/nextage.RobotHardware.conf).

This may be even causing a problem for some users who are trying [this tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model).

---

But the real question is, what are these files that s

[2014-03-02 14:16] 130s commented on #2
Done in [hironx_ros_bridge package](https://github.com/start-jsk/rtmros_hironx/tree/groovy-devel/hironx_ros_bridge/test).

[2014-03-02 14:16] #2 closed, assigned to 130s

[2014-03-02 14:22] 130s commented on #36
Added non-trivial amount with [this and/or earlier commit](https://github.com/start-jsk/rtmros_hironx/commit/97a30d15542c9c06ac81becc8a4e4762e0f95526).

[2014-03-02 14:22] #36 closed, assigned to 130s

[2014-03-02 14:25] 130s commented on #8
This has been enabled for awhile, and it's even [documented in the tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Operating%20Hiro%2C%20NEXTAGE%20OPEN%20from%20Client%20Pograms#Working_with_a_real_robot) for awhile.

[2014-03-02 14:25] #8 closed, assigned to nobody

[2014-03-03 18:13] 130s opened #55 "Local source build fails "'/tmp/buildd/ros-hydro-hrpsys-ros-bridge-1.0.5-0precise-20140303-1207/idl_gen/cpp' as an include dir, which is not found""
Using 671b36469cb54c72843fb73446bc7b85bc684328 without any other source packages, `catkin` fails:

[code]

[code]

[2014-03-03 19:02] k-okada commented on #55
Could you send me url for deb build server's log?

[2014-03-04 01:37] 130s commented on #55
This is done locally (I've updated the title now).

[2014-03-04 01:41] k-okada commented on #55
if you use shadow-fixed openhrp3 deb file, this is the same problem of https://github.com/start-jsk/hrpsys/issues/25#issuecomment-36527730

[2014-03-04 03:51] #55 closed, assigned to nobody

[2014-03-04 03:51] 130s commented on #55
Looks like it's the same issue. Now with the same patch applied to
https://github.com/start-jsk/hrpsys/issues/25 local build by catkin passes.

[2014-03-04 06:25] 130s commented on #53
Fixed via https://github.com/tork-a/rtmros_nextage/commit/196df952da9e14af99740d25b99246b1de2ed45c

[2014-03-04 06:25] #53 closed, assigned to 130s

[2014-03-04 07:23] 130s commented on #23
Well unfortunately the issue remains. I've marked it `untagetted` since I can't think of any situation where this particular issue is critical.

And I'm not sure how to debug this issue deeper but just [posted a .bag file](https://docs.google.com/file/d/0Bw_hbVS3wTLyWU9VS2VvSHFnVlE/edit), where I sent command to move arms around 0m10s when `move_group/monitored_planning_scene` seems to have been p

[2014-03-04 07:32] 130s commented on #23
Taking back what I just said:

This issue can trigger the critical situation described [in hironx_ros_bridge](https://github.com/start-jsk/rtmros_hironx/issues/34#issuecomment-36308110). So I drew it back from `untargetted`.

(But since it's not clear how to tackle the issue, we may first want to apply the quick workaround suggested there).

[2014-03-04 07:44] 130s commented on #18
Because the possible change to the package name would have more impact
later on users side, I propose this to be resolved soon.

If the robot vendor has a reason for a new name, I think community will
respect it. That doesn't, however, guarantee that someone will volunteer to
work on (incl. changing names and doing all the regression tests).

[2014-03-04 07:49] 130s commented on #47
I suggest to add self collision feature asap and that will be a good update for [the milestone to release ver 0.3.0](https://github.com/tork-a/rtmros_nextage/issues/milestones).

[2014-03-04 07:49] k-okada commented on #23
could you confirm that
`rtmlaunch hironx_ros_bridge hironx_ros_bridge_simulation.launch` publishes tf?
I'm tried with source (devel) and it is working, then try with source (devel) of nextage, then try deb nextage.

[2014-03-04 07:57] k-okada commented on #47
I asked this task to miyake-kun(@kenji0919 )[1] last week, but not sure about current status. If he is busy, someone can take over this job.
I would suggest starting from visualization and add a code just to servo off if collision is detected. Thus should be done with in 10 lines of codes. and you can confirm what's going on with visualization.

As for pros and cons, each approach needs extensive

[2014-03-04 08:01] 130s commented on #23
Found that I haven't yet implemented the change suggested early last month (#46), which I've just done and [PReq is opened](https://github.com/tork-a/rtmros_nextage/pull/56).

[2014-03-04 08:05] #23 closed, assigned to k-okada

[2014-03-04 08:05] 130s commented on #23
Thanks all! Done so easily after all.

[2014-03-04 08:24] 130s commented on #46
Done for `nextage` and `hironx` moveit_config packages (still waiting for the one in hironx to be merged).

[2014-03-04 08:24] #46 closed, assigned to 130s

[2014-03-04 08:29] 130s commented on #21
Haven't heard back about this for awhile. I need to poke the user in question.

[2014-03-05 04:43] 130s opened #58 "Migrate common portion up to rtmros_hironx"
`rtmros_nextage` depends on `rtmros_hironx`. There are doubled work in `rtmros_nextage` that can be ported up to rtmros_hironx package. so that we can reduce maintainance work.

I can think of:
- [x] `nextage_ros_bridge/script`.
- [x] `nextage_ros_bridge/test` except tests for hands.

Unique to `rtmros_nextage`:
- [x] python code for hands nextage_ros_bridge/src/nextage_ros_bridge/`*hand*.py` file

[2014-03-06 05:55] k-okada commented on #21
this part is embedded in libhrpIo.so, thus we cannot change them. Need to
ask KRTC to change.

On Tuesday, March 4, 2014, Isaac Isao Saito notifications@github.com
wrote:

[2014-03-06 06:23] 130s commented on #21
I see, now I'm asking @emijah about this.

[2014-03-06 08:41] emijah commented on #21
I'm afraid the calibration pose seems to be embedded in the lowest level. I'll have to ask Kawada whether it can be changed.

[2014-03-06 19:25] 130s commented on #51
Not sure but I assume the former.

Now I'm trying this versioned `build_depend` feature but it's not working for me. [Asked here](http://answers.ros.org/question/136526/how-versioned-build_depend-works/).

[2014-03-07 15:21] garaemon commented on #12
README.mdなどのmarkdownファイルの利点について
- コードと同じところで管理されてる。つまりプルリクにドキュメントの変更も含めることができる
  - すぐにwebで見られるの良い、reviewしやすい
  - 単純に楽しい、githubのcss綺麗. スマホでもみれる
  - 詳細なコードのドキュメントはコード内部に書くとして、概要をmarkdownファイルに書くのは有用と思われる

[2014-03-07 15:22] garaemon commented on #12
travisからwiki.ros.org叩いて自動的にdeployできないものか？

[2014-04-03 09:57] hyaguchijsk opened #59 "Errors on ROS wiki documents"
Hi all,

I found some errors on ROS wiki documentation while I installed.

1.

According to
http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine
I installed via debian binary (in section 4).

then according to
http://wiki.ros.org/rtmros_nextage

[code]

and I got following errors.

[code]

I think it requires rtshell-core.

[code]

2.
According to

[2014-04-03 10:08] k-okada commented on #59
Did you try with shadow-fixed repository?
rtshell should depends on rtctree and rtsprofile.
https://github.com/start-jsk/rtshell_core/blob/master/rtshell/package.xml

[2014-04-03 11:44] hyaguchijsk commented on #59
I tried to purge all packages and reinstall from shadow-fixed repository,
then the first error is corrected, thanks.

How about the second problem?

[2014-04-03 11:47] 130s commented on #59
For the 2nd issue, your guess should be correct. I'll fix the wiki once
I'll be back to my computer.

[2014-04-03 16:05] 130s commented on #59
Fixed via http://wiki.ros.org/action/info/rtmros_nextage?action=diff&rev2=23&rev1=22. Thank you @hyaguchijsk

[2014-04-03 16:05] #59 closed, assigned to nobody

[2014-04-15 14:07] hyaguchijsk opened #60 "Problem about hironx_ros_bridge with real robot"
Hi all,

I'm trying to run hironx_ros_bridge with hiro014,
and I got following error.

[code]

It seems to be a problem around sh.rtc,
and sh.rtc is not found in nameserver.

[code]

Does anyone have any idea?

regards,

[2014-04-15 19:11] 130s commented on #60
I've moved this to the repository of parent package https://github.com/start-jsk/rtmros_hironx/issues/75 since it looks generic enough (this package is specific to the feature only nextage has, eg. model, hand).

[2014-04-15 19:11] #60 closed, assigned to nobody

[2014-05-03 00:36] 130s commented on #47
Closing; escating this to the upstream repo (hironx). Ideas suggested here are ticketed:
- https://github.com/start-jsk/rtmros_hironx/issues/36
- https://github.com/start-jsk/rtmros_hironx/issues/90

[2014-05-03 00:36] #47 closed, assigned to nobody

[2014-05-03 00:41] 130s commented on #29
Escalated [to upstream](https://github.com/start-jsk/rtmros_hironx/issues/91).

[2014-05-03 00:41] #29 closed, assigned to 130s

[2014-05-03 00:43] 130s commented on #5
This might be a good subject for hackathon?

[2014-05-05 16:52] k-okada commented on #5
might be...

But may be too difficult for student if you want to use developed software as a released software, because you need to take care about error handling and initilization/termination in the code.S Some expert have to take care and finalize them

[2014-05-06 02:09] 130s opened #61 "nextage_ros_bridge: CMakeLists.txt(93): warning: environment variables should not be used"
I ran a [recently-announced](http://lists.ros.org/pipermail/ros-users/2014-March/068358.html) tool [catkin_lint](http://wiki.ros.org/catkin_lint) against `nextage_ros_bridge` and this package seems ok, just got a warning.

[code]

Warning is rooted in [this line in CMakeLists.txt](https://github.com/tork-a/rtmros_nextage/blob/32e0949205316f0e024a4bd2b9a9df473289d8f4/nextage_ros_bridge/CMakeLists.t

[2014-05-06 08:45] #48 closed, assigned to nobody

[2014-05-06 08:53] 130s opened #64 "Integrate unit tests nicely"
Because tests are not well integrated yet, `travis` found zero tests.
https://travis-ci.org/tork-a/rtmros_nextage/builds/24516513#L1903

[code]

I assume the same on ROS `Jenkins`.

[2014-05-08 04:10] emijah commented on #5
In that case it may be a good subject for an intern.
Do you think it would be possible to joint host an intern?

2014-05-06 1:52 GMT+09:00 Kei Okada notifications@github.com:

[2014-05-13 15:41] 130s commented on #15
This still occurs with the following version of software. Another NXO user confirms too.

[code]

This never happens with hironx software afaik.

[2014-05-13 17:46] #15 closed, assigned to nobody

[2014-05-20 03:19] 130s commented on #5
I took over [this task](https://bitbucket.org/kmhallen/ueye/issue/7/merge-features-from-other-ueye-related-ros#comment-10258212).

[2014-05-21 05:17] emijah commented on #5
Great!

[2014-05-23 02:07] 130s commented on #5
Not sure how much/less this is related but there's a `GSoC` project proposal http://wiki.osrfoundation.org/gsoc14

[code]

I don't find this in GSoC as approved. [Asked the mentor listed](https://twitter.com/130s/status/469659852478746625).

[2014-05-26 12:37] emijah opened #66 "segmentation fault with rtcd only loading hrpEC.so"
I'm currently trying to update our robot to the newest version of hrpsys-base using the source code on github.
Most of the problems I have encountered are due to random shared libraries that lingered in the system. I think I've got everything cleaned up, but I still have one problem.
I have setup rtcd to preload hrpEC.so only and nothing else but for some reason rtcd segfaults. Is there anyone els

[2014-05-26 13:04] k-okada commented on #66
We haven't tested latest version of hrpsys-base at our lab and currently we do not have plan to upgrade them soon. Very sorry for that.
Please consider support/install service from tork. They may help.

[2014-05-26 15:01] emijah commented on #66
Ah! Good idea

[2014-05-26 16:34] 130s commented on #12
`moinmoin`, the wiki engine that ROS wiki runs on, seems to have `rst` support, although not vigorously active. [Example](http://moinmo.in/HelpOnParsers/ReStructuredText).

So if we can ask ROS wiki maintainers to install `docutils` (I assume it's already installed, or it's not a problem) and also create a script (maybe integrated into an automation tool like [rosdoc_lite](http://wiki.ros.org/rosd

[2014-05-27 08:23] youtalk opened #67 ""moveit_planning_execution.launch" doesn't work on my environment"
Hi, I'm @youtalk using this package every day. It's quite useful.

These days I'm trying to use the `nextage_moveit_config` package. But while launching `roslaunch nextage_moveit_config moveit_planning_execution.launch`, some robot models  cannot be found and the 3D model doesn't appear. Do you have some idea to resolve it?

I use an Ubuntu 12.04 64bit PC with ROS Hydro and the package of `nextage

[2014-05-28 07:19] 130s opened #68 "Same COLLADA files with different names in separate packages"
tldr; I don't think we need to change anything regarding this(, at least for now).

[nextage_ros_bridge/models/nextage.dae](https://github.com/tork-a/rtmros_nextage/blob/795a41e678c9999c20086c4409d686f2fefa1bb0/nextage_ros_bridge/models/nextage.dae) and [nextage_description/models/main.dae](https://github.com/tork-a/rtmros_nextage/blob/795a41e678c9999c20086c4409d686f2fefa1bb0/nextage_description/m

[2014-05-28 08:36] 130s opened #69 "Release 0.2.13"
To apply patch #65 to fix #15

[2014-05-28 08:52] d130s commented on #69
ROS prerelease test passed
http://jenkins.ros.org/job/prerelease-hydro-rtmros_nextage/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=prerelease/3/

[2014-05-28 08:59] 130s commented on #69
Released into H https://github.com/ros/rosdistro/pull/4558

For G where [roslint](http://wiki.ros.org/roslint) isn't released, I don't see any necessity for tackling it considering Groovy will shortly become EOL and none of the users I assume are using on G.

[2014-05-28 08:59] #69 closed, assigned to nobody

[2014-05-28 09:50] 130s commented on #67
I compared the error output you shared with what I just got on my machine, and it doesn't show anything strange (there are some "not found"s that are normal under current setting, which is better off being handled though). Does it happen all the time or only sometime?

[2014-05-28 17:57] k-okada commented on #68
I forget why we add two files, maybe we can remove main.dae and

[code]

can be replaced by

[code]

???? but not sure.

[2014-05-28 21:32] 130s commented on #68
Or I feel even more comfortable to gather model files in `nextage_description` and remove `models` directory from `nextage_ros_bridge`. Is it not feasible?

[2014-05-28 21:46] 130s commented on #12
Thought about using github wiki and my answer is no.

Simply because the wiki pages are cloned SEPARATEly from its contents. I.e.,

[code]

([source](http://stackoverflow.com/questions/15080848/how-do-i-clone-a-github-wiki))

In this way there's not much advantage of having doc on github.

`ros_control` seems to be struggling too in where to store documents. They use ros wiki, `rosdoc_lite`, and g

[2014-05-28 21:49] 130s commented on #12
And @k-okada [summarized](https://github.com/start-jsk/rtmros_common/pull/474#issuecomment-44441943) what we want.

[2014-05-29 00:09] youtalk commented on #67
Yes, it happens all the time. I try again and check the model files.

[2014-05-30 05:25] k-okada commented on #68
Yes, I think is is possible.
One problem of current `nextage_description` is there are no information on how to convert WRL to collada/urdf and nextage_ros_bridge have them (just for collada). So desirable procedure is
1) update nextage_description/CMakeLists.txt to convert wrl to urdf and dae and commit them
2) remove model file from nextage_ros_bridge.

[2014-06-02 03:15] k-okada commented on #67
Can you capture and paste the rviz view?  I also want to check the output of hrpsys of `hironx_ros_bridge_simulation.launch` or equivalent.

[2014-06-02 16:05] davetcoleman commented on #12
I really like that idea. I have made a lot of roswiki edits, but I do not like the format. It has some benefits, but many downfalls. Also, the roswiki is running on a very slow system that was not intended to grow to the size it is today. It is overdue for replacement.

I am currently a fan of always using Github README and just having a link on the roswiki to the readme (see [moveit_simple_grasps

[2014-06-03 03:56] youtalk commented on #67
Finally, I got the reason why it doesn't work. In my environment I've already installed `ros-hydro-nextage-moveit-config` but not yet installed `ros-hydro-hironx-moveit-config`.
After installing `ros-hydro-hironx-moveit-config` related packages, above roslaunch scripts of both `nextage` and `hironx` are successfully executed.

I'm not sure but the dependencies of `ros-hydro-nextage-moveit-config`

[2014-06-03 03:56] #67 closed, assigned to nobody

[2014-06-03 04:55] k-okada opened #71 "nextage_moveit_config depends on hironx_moveit_config"
At this moment, nextage_moveit_config is not depend hironx_moveit_config. but @youtalk reporeted we need that one. @130s Can you confirm this? we should have to either add depend to hironx_moveit_config or remove/replace something.

[code]

[2014-06-03 04:57] k-okada commented on #67
Thanks, and happy to hear that.

By the way, we designed nextage_moveit_config not to depend on hironx_moveit_config, so something strange here. Could you add some comment on #71, if you know which part of nextage_moveit_config depends on hironx_moveit config ?

Thanks in advance.

[2014-06-03 09:12] 130s commented on #71
I'll have to spend more time carefully later but with a quick look this is strange; `NextageOpen_moveit_controller_manager.launch` seems to be the only place where the term `hironx` appears in `nextage_moveit_config` package, but that launch file isn't used anywhere.

[code]

[2014-06-03 09:59] youtalk commented on #67
@k-okada I'll check it.

[2014-06-05 11:27] 130s commented on #71
tl;dr @youtalk What were the **related packages**?
 You [mentioned here](https://github.com/tork-a/rtmros_nextage/issues/67#issuecomment-44917552):

[code]

I guess those "related" packages got installed because of the dependency that only `hironx_moveit_config` depends on (ie. `nextage_moveit_config` doesn't) and that might be reason why installing `hironx_moveit_config` solved the issue.

---

I

[2014-06-06 00:25] youtalk commented on #71
The "related packages" mentioned in https://github.com/tork-a/rtmros_nextage/issues/67#issuecomment-44917552 are `ros-hydro-moveit-*` packages. All of them are as follow. Of course, I had already installed `ros-hydro-nextage-moveit-config` before.

I've checked the repository codes and yes, I also think this problem causes by the difference of both `package.xml` files.

[2014-06-07 12:17] 130s opened #72 "(nextage_ros_bridge) Add dependency on rtshell"
Looks like `rtshell` doesn't get installed automatically upon installing `nextage_ros_bridge`. Because of `rtmlaunch` command simulation uses I think it's nicer to add `run_depend` (in `package.xml` format 1. `depend` in format 2).

[2014-06-09 17:30] k-okada commented on #71
I see, I think we need pr2_moveit_plugins, at least.
create PR for that
https://github.com/tork-a/rtmros_nextage/pull/73

[2014-06-09 18:28] k-okada commented on #72
https://github.com/start-jsk/rtmros_common/blob/master/openrtm_tools/package.xml

openrtm_tools depends on rtshell, so I think what we need is depend hrpsys_ros_bridge depends on openrtm_tools

[2014-06-12 08:11] 130s commented on #71
Fixed via https://github.com/tork-a/rtmros_nextage/pull/73

[2014-06-12 08:11] #71 closed, assigned to 130s

[2014-06-14 09:36] 130s commented on #72
Closing; I was wrong, `openrtm_tools` gets installed via `nextage_ros_bridge` 0.2.13.
![rdepend_openrtm_tools](https://cloud.githubusercontent.com/assets/1840401/3278106/8c0b1c72-f3a6-11e3-94ed-f6f5f0470e4e.png)

(I must have taken something wrong when I was talking to a user who said he installs `rtshell-core` along with `rtmros_nextage`.)

[2014-06-14 09:36] #72 closed, assigned to nobody

[2014-06-18 11:37] k-okada opened #76 "Missing tutorial for chaging grippers"
I noticed that http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Grippers%20on%20Nextage%20Hardware page is blank, Is this page is no-longer used? or something wrong on wiki format?

[2014-06-18 13:54] 130s commented on #76
That tutorial page is there, expecting someone in the community to fill in. I [added call-for-volunteer](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Changing%20Grippers%20on%20Nextage%20Hardware?action=diff&rev2=4&rev1=3). I personally don't have an experience yet in doing that.

[2014-06-19 10:43] k-okada commented on #76
I see. @emijah may have that experience.

[2014-06-19 10:43] #76 closed, assigned to nobody

[2014-06-20 01:22] emijah commented on #76
@130s How do you respond?

[2014-06-20 16:50] 130s commented on #76
If anyone is interested in documenting about this (so appreciated!), please go to the tutorial web page (cited below), you may need to create your account, then edit the wiki however necessary. Notice that it's wiki so everyone on the internet has right to edit (your edition might sometime get modified by someone else).

http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Grippers%20on%20Nexta

[2014-07-06 10:00] 130s opened #78 "robot.goInitial fails with "AttributeError: class HIRONX has no attribute 'INITPOS_TYPE_EVEN'""
Can happen only with v0.2.14 with `hironx_ros_bridge` LTE 1.0.14, of which new version needs to include [this commit](https://github.com/start-jsk/rtmros_hironx/commit/b7961b99e80da825d315833d96ea2dd108bd8d3d).

_How to apply tentative patch_
1.  On Ubuntu, run:

[code]
2. Replace content of `hironx_client.py` with https://raw.githubusercontent.com/start-jsk/rtmros_hironx/b7961b99e80da825d315833d9

[2014-07-06 10:01] 130s commented on #78
Requires https://github.com/start-jsk/rtmros_hironx/issues/117 addressed.

[2014-07-06 10:06] k-okada commented on #78
this should be checked in https://travis-ci.org/tork-a/rtmros_nextage, can
you look into it ? or should I do that.

On Sun, Jul 6, 2014 at 7:01 PM, Isaac Isao Saito notifications@github.com
wrote:

[2014-07-07 04:10] 130s commented on #78
travis config of this repository doesn't test anything (my bad...I haven't added one). I'm working on this.

[2014-07-10 08:08] 130s opened #79 "ModelLoaderException : /opt/ros/hydro/share/nextage_description/models/main.wrl cannot be found."
On new installed machine, `ModelLoaderException` repeats in a very fast loop.

[code]

[code]

[2014-07-10 08:21] k-okada commented on #79
wrlは体内のnameserverから呼び出されるから，モデルの場所をそうつたえないとだめじゃないでしょうか．

[2014-07-10 08:22] k-okada commented on #79
https://github.com/tork-a/rtmros_nextage/blob/hydro-devel/nextage_ros_bridge/launch/nextage_ros_bridge.launch
の
 <arg name="MODEL_FILE" default="$(find nextage_description)/models/main.wrl" />
の部分ですね．

2014-07-10 17:21 GMT+09:00 Kei Okada k-okada@jsk.t.u-tokyo.ac.jp:

[2014-07-10 08:22] k-okada commented on #79
$ roslaunch nextage_ros_bridge nextage_ros_bridge.launch
nameserver:=nextage MODEL_FILE:=/opt/jsk/HIRO/model/main.wrl

2014-07-10 17:22 GMT+09:00 Kei Okada k-okada@jsk.t.u-tokyo.ac.jp:

[2014-07-10 08:23] k-okada commented on #79
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/launch/hironx_ros_bridge_real.launch
が参考になるでしょうか

2014-07-10 17:22 GMT+09:00 Kei Okada k-okada@jsk.t.u-tokyo.ac.jp:

[2014-07-10 08:32] 130s commented on #79
Thank you, `$ roslaunch nextage_ros_bridge nextage_ros_bridge.launch nameserver:=nextage MODEL_FILE:=/opt/jsk/etc/HIRONX/model/main.wrl` fixed the issue, though I never had to specify the model location. Not sure maybe the [recent change in installing model file](https://github.com/start-jsk/rtmros_hironx/blob/f3e04bcd438b25d75bdbf0b55ce165e797e08105/hironx_ros_bridge/robot/robot-compile-setup.sh#

[2014-07-10 08:40] k-okada commented on #79
due to https://github.com/start-jsk/rtmros_hironx/commit/bb0672be3e03e5366e03fe50520e215302b8419f#diff-fcc785cbbe7f734d6750d5bf43e26df6

[2014-07-10 09:26] snozawa commented on #79
関連する情報を共有しておきます。
現状カメラのTFは、HrpsysSeqStateROSBridgeImpl.cppの中で
ModelLoaderから取得してだしています。
https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/src/HrpsysSeqStateROSBridgeImpl.cpp#L133

なので、カメラのオフセットなど情報を更新する場合は、
体内のモデルを更新してModelLoaderをあげなおす必要がありました。

[2014-07-10 23:42] 130s commented on #3
Created https://github.com/tork-a/hironx_tutorial

[2014-07-10 23:42] #3 closed, assigned to nobody

[2014-07-11 07:22] 130s commented on #79
https://github.com/tork-a/rtmros_nextage/pull/81 addresses this issue and allows users to not type in any argument by default.
Thank you for the comments.

[2014-07-12 00:24] k-okada commented on #79
You have to use rtmlaunch, not roslaunch

[2014-07-12 00:30] #79 closed, assigned to 130s

[2014-07-17 08:14] 130s opened #85 "Update document, notify change for the change in starting ros_bridge"
From https://github.com/tork-a/rtmros_nextage/pull/81#issuecomment-48701863

TODO once merged:
- [x] Update tutorials
- [ ] Notify users

[2014-07-19 06:18] 130s opened #89 "Flexibly change hands implementation"
Currently the hands that were used in an expo [is set hardcoded by default](https://github.com/tork-a/rtmros_nextage/blob/8811733d9930061a1e63bda42e9ad574ba0a7885/nextage_ros_bridge/src/nextage_ros_bridge/nextage_client.py#L39) that consists of air hand on the right and chuck hand on the left. But the hand configuration depends on each users.

[2014-07-22 01:09] 130s opened #91 "Release 0.4.1"
With PReq https://github.com/tork-a/rtmros_nextage/pull/88 DIO spec has changed. And it's been awhile with `0.2.x`. Although not having gone through [ROS software QA process](http://wiki.ros.org/StackVersionPolicy) (which itself is obsolete), upgrading MINOR version makes sense to me with 9+ months passed since its first release and it's included in distribution since then.

[2014-07-22 10:56] 130s commented on #78
Done in #92.

[2014-07-22 10:56] #78 closed, assigned to 130s

[2014-07-22 10:56] 130s commented on #64
Addressed in #92.

[2014-07-22 10:56] #64 closed, assigned to 130s

[2014-07-22 11:01] 130s commented on #10
Addressed in https://github.com/tork-a/rtmros_nextage/pull/88

[2014-07-22 11:01] #10 closed, assigned to nobody

[2014-07-22 11:08] 130s commented on #58
Model is specific to NXO so we don't want to consolidate model files into upstream package. Instead, do so to `nextage_description` pkg. https://github.com/tork-a/rtmros_nextage/issues/68

I don't see any reason why we don't do this, other than users have to change the name of the file they run, like this:

[code]

[2014-07-22 13:00] k-okada commented on #91
how about if you add  API you can add minor version and if you break API , then update major version.

[2014-07-23 07:51] k-okada commented on #58
On Tue, Jul 22, 2014 at 8:08 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-23 16:35] 130s opened #94 "Add DIO pin checker"
From https://github.com/tork-a/rtmros_nextage/pull/93

TODOs:
- [x] Add tests for checking if digital IO work accordingly as in the spec.
- [x] Dismiss these tests on CI tools (jenkins, travis etc.) Because all the tests added in PReq require hardware, these tests become ERROR.

[2014-07-24 00:07] k-okada commented on #94
IO related code should run on simulation, although readIO just returns writeIO data. Please let me know if you create test code for DIO.

[2014-07-24 01:25] 130s commented on #94
Ah I've added them...Is there a way to bypass them on CI tests?

[2014-07-24 04:27] k-okada commented on #94
Created patch https://github.com/fkanehiro/hrpsys-base/pull/273, that just ignore read/write dio on simulation mode, once this patch has accepted, CI error will gone

[2014-07-24 08:32] 130s opened #96 "hironx_moveit_config does not get installed with nextage_moveit_config"
With nextage_moveit_config 0.2.15, `hironx_moveit_config` is `run_depend` but it doesn't get installed via apt. Is `run_depend` not counted as dependency in Ubuntu?

[2014-07-24 08:38] k-okada commented on #96
https://github.com/tork-a/rtmros_nextage/blob/0.2.15/nextage_moveit_config/package.xml

2.15 does not have run_depend to hironx

On Thu, Jul 24, 2014 at 5:32 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-24 11:10] 130s commented on #96
Ahh, that makes the most sense!

[2014-07-24 11:10] #96 closed, assigned to nobody

[2014-07-24 11:52] 130s opened #97 "Either only Natto-view or Interactive Marker appears"
With version 0.2.15.

Depending on the chosen `Fixed Frame`, only either one appears:
- `WAIST`: `natto-view`
- `WAIST_Link`: `Interactive Marker`

NXO nor Hironx intend to publish `WAIST_Link` so it must be published somewhere upstream.

[2014-07-24 13:07] k-okada commented on #97
could you check frame by `rosrun tf view_frames` ?

[2014-07-27 11:05] 130s commented on #58
+1

Meanwhile, I hold back what I said:

In the current design, hand commands are also called from [NextageClient](https://github.com/tork-a/rtmros_nextage/blob/4cf8cac0c3146c9badf5a128bff03b5855575352/nextage_ros_bridge/src/nextage_ros_bridge/nextage_client.py#L86). So it would be simpler for us for now to keep scripts separately.

[2014-07-27 11:05] #58 closed, assigned to nobody

[2014-07-27 11:22] 130s commented on #91
+1

Another idea is [Odd/Even process](http://wiki.ros.org/StackVersionPolicy#Post_1.0) that ROS core stacks used to follow.

Anyway `rtmros_nextage` hasn't reached 1.0.0 so API stability isn't guaranteed, and we can keep updating minor version.

[2014-08-01 10:13] 130s opened #98 "(MoveIt!) To modify joint_limit velocity and acceleration values on the fly"
The [current values](https://github.com/tork-a/rtmros_nextage/commit/bbf7d31e285223ac216f5d11da8ca4249947ebaa#diff-ff83b48fa6274dda265e036bf5a75a9e) are felt sometimes too fast. But the only way to change it AFAIK is to modify the file `/opt/ros/hydro/share/nextage_moveit_config/config/joint_limits.yaml` in the protected directory, which is not recommended.

Being able to pass those values as `ros

[2014-08-01 11:22] 130s commented on #94
Thank you for https://github.com/fkanehiro/hrpsys-base/pull/273 that [seems to be working for travis build](https://travis-ci.org/tork-a/rtmros_nextage/jobs/31413508). `*handlight*` methods still need to be taken care of. They are in NXO level (not in `hrpsys`). I'll work on it.

[2014-08-01 14:04] k-okada commented on #98
Changing joint speed is also required by @wyasuda, he asked mailing list and got some feed back I think

[2014-08-01 14:23] wyasuda commented on #98
I asked questions here.
https://groups.google.com/forum/#!topic/moveit-users/CCj9Tam2jiw
Still I could not get answers about speed control.

I found another topic about speed control below.
https://groups.google.com/forum/#!searchin/moveit-users/speed/moveit-users/7n45S8DUjys/xIM24szuetEJ

[2014-08-02 01:15] 130s opened #101 "(Please ignore this. Testing only pt.4)"
testers haven

[2014-08-02 01:17] #101 closed, assigned to nobody

[2014-08-02 01:18] 130s opened #102 "(Please ignore this. Testing only pt.5)"
so

[2014-08-02 01:23] #102 closed, assigned to 130s

[2014-08-06 14:00] 130s commented on #37
From the recent conversation with the manufacturer, I conclude myself that this isn't feasible (because they are willing to make the serial number accessible to anyone other than the purchaser).

[2014-08-06 14:00] #37 closed, assigned to 130s

[2014-08-06 14:07] 130s commented on #37
They are _not_.

[2014-08-06 14:35] k-okada commented on #37
even if they do not provide serial number, we may have to create minor modification for each robot, for example robot with force sensors, etc....

[code]

[2014-08-18 11:17] youtalk opened #103 "`ueye_cam` package for NEXTAGE OPEN"
Sorry, it's not directly for the `rtmros_nextage` issue but just notice to you.
Recently I'm trying to develop a camera package for NEXTAGE OPEN by forking [anqixu/ueye_cam](https://github.com/anqixu/ueye_cam).

https://github.com/youtalk/ueye_cam (`nextage-cams` branch by default)

I succeeded in capturing 4 cameras at a time but there are known issues.

- Cannot use bgr8 color mode (only mono8 m

[2014-08-25 06:23] 130s opened #104 "Add tutorial for IO"
Users want to know:
- [ ] How to read IO status
  - Explain what `readDigitalOutput` and `readDigitatIntput` methods are for.
- [ ] Which pin is for what (described in H/W manual and also in in-code doc).
- [x] How to change tools by changing DIO w/o using opensource software?

[2014-08-26 01:52] 130s commented on #103
So far we have better touch with [ueye](http://wiki.ros.org/ueye) package, not `ueye_cam`. [We've added a change to its upstream](https://bitbucket.org/kmhallen/ueye/pull-request/5/use-arg-to-change-parameters/diff). But this doesn't mean `ueye` package should be used for nxo, since we aren't that certain what's the best option.

With the PReq above, we got VGA 30 FPS.

[code]

For stereo the foll

[2014-08-26 01:55] 130s commented on #5
I think we delegate this to #103

[2014-08-26 01:55] #5 closed, assigned to 130s

[2014-08-26 02:19] youtalk commented on #103
@130s Oh, I'm sorry but I didn't know about the `ueye` package and issue #5
I'll check the package. Thank you.

[2014-08-26 03:14] k-okada commented on #103
@youtalk, BTW how do you synchronize two stereo camera?  It seems the camera accept external trigger and this is the reason that you choose this camera, and I think following parameter is designed for this purpose.

[code]

[2014-08-26 06:39] youtalk commented on #103
@k-okada Unfortunately NEXTAGE has no external trigger as you may know. So when I calibrate stereo camera, I add `--approximate=0.1` and `_approximate_sync:=True` option to rosrun command.

For example:

[code]

But I checked the [online manual of uEye camera](http://www.cihansari.com/vistek/uEye_Manual/index.html?hw_triggermodus.html) in detail and found `software trigger mode`. I'll check the NE

[2014-08-26 14:09] k-okada commented on #103
That's good to know. Thanks

[2014-09-01 01:47] k-okada opened #106 "procedure to recover from servo on/off physical button"
I'd like to clarify the procedure to recover after servo on/off physical button (http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users?action=AttachFile&do=get&target=nxo_runstop_relayswitch.jpg)

from ipython interpreter, Does

[code]

work? I think @youtalk is the only one person in this repository who is able to have access to real robot, so hope you can help.

[2014-09-01 02:15] youtalk commented on #106
@k-okada You should use `servoOn/servoOff` methods of `hironx_client.py`. It can be more safely recovered from servo off.

https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L406
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L494

[code]

You don't need to call

[2014-09-01 02:16] k-okada commented on #106
Thanks!

[2014-09-02 02:50] k-okada commented on #52
@hyaguchijsk, please write documents if you have confirmed it is working. @130s will show you where/how to write them.

[2014-09-02 16:25] 130s commented on #52
How about http://wiki.ros.org/rtmros_nextage/Tutorials/Adding%20feedback%20control

[2014-09-02 18:22] 130s commented on #106
Related https://github.com/start-jsk/rtmros_hironx/issues/38

[2014-09-02 23:17] 130s commented on #98
Good to know these, and looks like there's another one here that opened up an enhancement request: https://github.com/ros-planning/moveit_ros/issues/368

And I conclude that there hasn't been an official MoveIt! feature to dynamically set velocity. Closing for now.

**_Users**_
For statically changing velocity per execution, edit the following file accordingly (the default is set with moderately s

[2014-09-02 23:17] #98 closed, assigned to 130s

[2014-09-03 00:45] 130s commented on #106
Btw is `robot.goInitial()` before-and-after the pause is required?

[2014-09-03 01:13] youtalk commented on #106
@130s You don't need it. It's just a sample code.

[2014-09-03 01:16] 130s commented on #106
:100:

[2014-09-03 01:16] #106 closed, assigned to nobody

[2014-09-03 01:31] k-okada commented on #106
BTW, I meant "servo on/off physical button" is the red big relay button on the picture above(
http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users?action=AttachFile&do=get&target=nxo_runstop_relayswitch.jpg). But does `;; move button to servo off and on`  mean black switch (一旦停止／作動）?

[2014-09-03 02:26] youtalk commented on #106
@k-okada I also meant it is the red big button. The black switch doesn't work with `hrpsys-base` so far.

[2014-09-03 02:49] k-okada commented on #106
Ok, thanks.

[2014-09-04 01:39] #94 closed, assigned to 130s

[2014-09-04 01:56] #97 closed, assigned to nobody

[2014-09-04 02:43] 130s commented on #91
[0.4.1 is now released into rosdistro](https://github.com/ros/rosdistro/pull/5507).

[2014-09-04 02:43] #91 closed, assigned to 130s

[2014-09-10 06:40] longjie commented on #103
Hi, all.

I'm trying to calibrate our NEXTAGE OPEN's stereo camera.
Using ueye_cam package as @youtalk mentioned, I got a bit low frame rate (10Hz) but no problem to accquire images.
On the other hand using ueye package, I got 13Hz frame rate. But I got error while cameracaliblater.py running.

[code]

I used launch file which @130s provided in this issue. And I used calibration command as follow:

[2014-09-11 14:51] k-okada commented on #103
Sorry for late reply.

Which camera are you using? we're using UI-1480SE-C-HQ and sometimes it fail to acquire image when launch capture node, but once it is running, usually it is ok.

If you're using different camera, we have to change the launch file.

[2014-09-12 07:23] longjie commented on #103
Hi,
Our NEXTAGE Open has the cameras as follows:
Head stereo camera  IDS:UI-1550SE-C-HQ
Hand camera　IDS:UI-1220LE-C-HQ
I'm going to check the launch file later. Thanks.

[2014-09-12 07:39] k-okada commented on #103
Hum that's strange, the camera we're using is borrowed from manufacturer and we believed that is the same one as you have in your robot head, but that was mistake.

So, please check default parameter for your camera
1) run ueyedemo push start button (open a uEye)
2) choose uEye->Properties->Size
3) select appropriate size by changing binning of size tab (800x600?)
4) choose uEye-> reset to default

[2014-09-12 12:09] youtalk commented on #103
After some trials, `ueye` package seems to be better than `ueye_cam`.
The `zoom` parameter works well to rapidly capture head cameras.

By the way, how can I change `cameraId` in launch file or terminal command?
https://bitbucket.org/kmhallen/ueye/src/9aef2efdafdab29e3cdf0dae49705e1c90dc89f2/src/CameraNode.cpp?at=default#cl-95
I'm sorry but I'm not sure about `private node handle`.

[2014-09-12 14:24] k-okada commented on #103
use param tag,
        <node pkg="nodelet" type="nodelet" name="camera_nodelet" args="load
ueye/CameraNodelet ueye_manager">
                <param name="cameraId" value="2" />
        </node>

it seems default nodlets.launch did not support cameraId, so we'd better to
create patch and send pull request as I did before.
https://bitbucket.org/kmhallen/ueye/pull-request/5/use-arg-to-change-parameter

[2014-09-12 15:00] k-okada commented on #103
here is screen shot for instruction described in https://github.com/tork-a/rtmros_nextage/issues/103#issuecomment-55370979

![size](https://cloud.githubusercontent.com/assets/493276/4251444/8812e374-3a8d-11e4-9bce-5db5936126a3.png)
![camera](https://cloud.githubusercontent.com/assets/493276/4251465/8e0d9ca6-3a8d-11e4-93fa-bfbb3375b1f6.png)

[2014-09-13 00:34] youtalk commented on #103
@k-okada Oh, that's right. I'll create the patch.
Thank you for your help.

[2014-09-16 09:38] longjie commented on #103
Hi,

Default image size is 1600x1200. It is being captured in 10 FPS.

![screenshot from 2014-09-16 18 02 38](https://cloud.githubusercontent.com/assets/238460/4284986/d28c3eb8-3d81-11e4-9c95-642a822ba695.png)

Should I change the binning size to 2x? It makes the image size to be 800x600 and it is captured in 28.59 FPS.

![screenshot from 2014-09-16 18 03 29](https://cloud.githubusercontent.com/as

[2014-09-16 11:53] youtalk commented on #103
With my PR for [ueye](https://bitbucket.org/kmhallen/ueye) (not `ueye_cam`) I also succeeded in capturing stereo camera in 30 FPS.

https://bitbucket.org/kmhallen/ueye/pull-request/6/add-camera_id-argument-to-change-camera/diff

[code]

However I think using [StereoCamera](https://bitbucket.org/kmhallen/ueye/src/c4e4612559ae4625a5908c7fa638d384e25324be/src/StereoNode.cpp?at=default) is better.

[2014-09-17 07:47] k-okada commented on #103
Thanks @longjie @youtalk, I have created small tutorial [1] and want to create `nextage_ueye_stereo.launch` file. From @longie 's report I create ueye_cam version of this and
if ueye version of stereo is robust and fast then ueye_cam, then we'd better to select them. Unfortunately we do not have stereo head for nextage robot, so hope @youtalk confirm both of them.

note: I need some trouble on uey

[2014-09-17 08:49] k-okada commented on #103
I added launch file to here -> https://github.com/tork-a/rtmros_nextage/pull/109, feel free to change this.
next procedure is to calibrate hand-eye coordinates, the package will be available within a few weeks,  see https://github.com/ros-perception/calibration/pull/31 for progress.

[2014-09-17 11:24] youtalk commented on #103
@k-okada Thank you for your effort. I'll take it. Please wait few days.

[2014-09-18 21:04] 130s commented on #103
Meanwhile, @k-okada [added a launch file for this](https://github.com/tork-a/rtmros_nextage/pull/109) and a [wiki tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Setup%20stereo%20camera). Hope anyone who's giving a try adds updates to the wiki if necessary (I won't have an access to the camera h/w for awhile so I can't).

[2014-09-18 21:08] 130s commented on #104
- How to change tools by changing DIO w/o using opensource software?

[2014-09-19 03:57] 130s commented on #104
[Wiki page](http://wiki.ros.org/rtmros_nextage/Tutorials/Using%20digital%20IO%20%28NXO%20only%29) started.

[2014-09-20 06:19] 130s commented on #12
Looks like Gazebo tutorials are written and stored in repository as `md` files, then the web page are generated from them?
e.g.
- web page http://gazebosim.org/tutorials?tut=ros_installing&cat=connect_ros
- md file https://bitbucket.org/osrf/gazebo_tutorials/src/default/ros_installing/tutorial.md

[2014-09-20 16:41] davetcoleman commented on #12
MoveIt! is the same:
https://github.com/ros-planning/moveit_ros/blob/indigo-devel/visualization/doc/tutorial.rst

[2014-09-22 09:36] youtalk commented on #103
Sorry for late reply. I tried to capture stereo with `ueye_cam` and `ueye`. While `ueye_cam` can be captured at 29 fps intervals, `ueye` can be captured at only 10 fps intervals at most. Although single camera capture is about the same speed, stereo capture by `ueye` happens something bad. It may be improved using [StereoCamera](https://bitbucket.org/kmhallen/ueye/src/c4e4612559ae4625a5908c7fa638d

[2014-09-22 14:52] k-okada commented on #12
how do you turn md file into web pages? it seems you do not use gh-pages.

On Sun, Sep 21, 2014 at 1:41 AM, Dave Coleman notifications@github.com
wrote:

[2014-09-22 15:34] davetcoleman commented on #12
Good question... @hersh or @sachinchitta

[2014-09-22 16:44] hersh commented on #12
md stands for "markdown", possibly originally from here: http://daringfireball.net/projects/markdown/

I've been happiest with our documentation when it is stored in the same repo as the source it refers to, so it's easy to keep synchronized.

[2014-09-22 17:05] davetcoleman commented on #12
I think the question is, what component does MoveIt! use to convert md files into html?

[2014-09-22 17:07] hersh commented on #12
MoveIt! doesn't have md files, except for the README.md files at the top of each repository.  Those are converted to html by github on the main page for each repo.

[2014-09-22 17:08] hersh commented on #12
Moveit has some documentation in rst files, which are similar to md files.  Those are converted using sphinx via rosdoc.

[2014-09-22 17:54] davetcoleman commented on #12
Ah yes, I meant the .rst files.

Exactly what I was asking, thanks. So to update them a bloom-release is necessary, right?

[2014-09-22 17:57] hersh commented on #12
Actually, no.

If the repo is already set up and built with the ROS build system by OSRF, the docs will just show up a few days after you push them to each main branch: hydro-devel, indigo-devel, etc.

[2014-09-23 17:33] k-okada commented on #12
I see, so moveit tutorial means http://moveit.ros.org/documentation/tutorials/, not http://moveit.ros.org/wiki/Tutorials

And contents of http://moveit.ros.org/documentation/tutorials/ link to API doc in ros.org http://docs.ros.org/hydro/api/pr2_moveit_tutorials/html/index.html

[2014-09-23 18:11] davetcoleman commented on #12
Correct

[2014-09-24 01:54] k-okada commented on #103
can we close this issue?

On Mon, Sep 22, 2014 at 6:36 PM, Yutaka Kondo notifications@github.com
wrote:

[2014-09-24 02:19] youtalk commented on #103
Yes, thank you all.

[2014-09-24 10:24] k-okada commented on #103
As I told before, I created calibration package (https://github.com/start-jsk/rtmros_hironx/pull/251) and created tutorial (http://wiki.ros.org/rtmros_nextage/Tutorials/CalibrateKinect). I have tested on our hiro robot that equipped xiton sensors on the head, but not tested on stereo cam and may be we need to update setup script....

BTW do you plan to switch to use xtion for nextage head? that ve

[2014-09-25 04:47] youtalk commented on #103
@k-okada Super cool package! Hope to test on stereo camera too.

We are sorry but we don't have a plan to embed xtion-like sensor in NEXTAGE as default, because we don't want to differ from NEXTAGE and NEXTAGE OPEN in hardware. Original NEXTAGE needs stereo camera to use with Halcon vision library.

[2014-09-26 16:31] 130s commented on #31
Example. You see the white beam is shorter in RViz, which can in the worst case lead to unexpectable collision.
![dsc03633](https://cloud.githubusercontent.com/assets/1840401/4423984/1b87eb42-459a-11e4-89b3-905ba3f577f4.jpg)
![dsc03630](https://cloud.githubusercontent.com/assets/1840401/4423985/1b9c2f6c-459a-11e4-9c76-3ae127f6617c.jpg)

[2014-09-26 17:00] 130s commented on #52
Thanks to @hyaguchijsk a progress is made https://github.com/start-jsk/rtmros_hironx/pull/253

[2014-09-26 17:00] #52 closed, assigned to nobody

[2014-09-26 17:02] 130s commented on #66
Closing due to inactivity. @emijah from next time if you could post error output, that itself would be also a great asset.

[2014-09-26 17:02] #66 closed, assigned to nobody

[2014-09-26 17:05] 130s commented on #4
Hope the change made here https://github.com/start-jsk/rtmros_hironx/issues/237#issuecomment-54586012 makes many things better. Closing for now.

[2014-09-26 17:05] #4 closed, assigned to nobody

[2014-09-26 17:09] 130s commented on #18
I said:

I guess now it's getting more painful to change the package names since the user base is becoming larger (good for us!).

If this is critical I would like to expect for contribution from community. Until then I close this.

[2014-09-26 17:09] #18 closed, assigned to 130s

[2014-09-26 17:10] 130s commented on #22
This is a bit easier than #18, but still requires a lot of work. Same as https://github.com/tork-a/rtmros_nextage/issues/18#issuecomment-56990562, I close this for now.

[2014-09-26 17:10] #22 closed, assigned to nobody

[2014-09-26 17:12] 130s commented on #85
Well I forgot to notify the users about the change, but the tutorials are certainly updated.

[2014-09-26 17:12] #85 closed, assigned to 130s

[2014-09-26 17:20] 130s commented on #103
Sorry for being off the boat. So do we agree to recommend users with interest in using `ueye` cameras `ueye_cam` package? No `ueye` package? If so, don't we want to ask the package maintainer to release as DEB? It's [not yet release](http://www.ros.org/debbuild/hydro.html?q=ueye) into hydro.

[2014-09-26 23:27] k-okada commented on #103
I understand that manufacturer is not want to use xtion/kinect for their
product.

My intentions is  if someone is interested in hardware modification, If
someone is interested in, we're happy to share/distribute a head mount
attachment and create community wiki as
http://wiki.ros.org/Robots/PR2/HardwareMods

As for stereo camera, Neither Isaac nor  I do not have stereo cam set
and/or Nextage, So

[2014-09-27 01:31] longjie commented on #103
Please reopen issue if it continues.

@k-okada, I definately want the mod information like xtion attachments. And I can contribute mod info and stereo camera testing.

I'm testing the stereo cam and the depth image is not so good, I guess I need to tune more.

And I guess NEXTAGE for manufacturing don't use the stereo cam for depth image, but for position measuring of markers, right? I wonder I sh

[2014-09-27 14:52] youtalk commented on #103
We use the stereo camera to recognize markers and also match templates with sub-millimeter (NOT sub-pixel) accuracy. It is definitely required in industries. So we cannot use depth sensor so far...

But of course I know every researchers want to use depth sensor. We're always welcoming to mod!! It sounds very good. Please create the community and share more information.

First of all I try to tune

[2014-09-27 15:07] youtalk commented on #103
@130s After some experiments and patches to `ueye_cam`, I think `ueye_cam` became better than `ueye` in stability and performance. I hope to use `ueye_cam` as a default ueye camera driver.

[2014-09-27 23:20] 130s commented on #12
Thanks @hersh @davetcoleman for the insight about moveit wiki. I thought it's worth extending the conversation to somewhere more public, [so I did](http://answers.ros.org/question/193644/how-to-open-custom-wiki-page-subdomain-eg-moveitrosorg-and-its-experience/).

[2014-09-28 08:14] snozawa opened #110 "Documentation or diagram for generated ROSBridges"
The following system diagram and documentation are quite informative:
http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine

Now I'm finding diagrams or documentation for generated ROSBridge, such as
`DataLoggerServiceROSBridge` and `CollisionDetectorServiceROSBridge`.

Currently, the diagram do not include these ROSBridges:
https://docs.google.com/

[2014-09-29 04:10] k-okada commented on #110
No,

Yes, if the diagram is general, you can move that file to upstream package.
@snozawa you can ask newcomer (@eisoku9618) to modify them.

[2014-09-29 16:35] 130s commented on #103
@youtalk and all, [I asked the author for making a DEB package](https://github.com/anqixu/ueye_cam/issues/10).

[2014-09-29 18:09] snozawa commented on #110
Thanks, I'll try it.

[2014-09-30 01:53] emijah commented on #66
Sorry, forgot about this post.

The reason for the segmentation fault seems to be due to older
pre-installed shared libraries containing compiled IDE stubs. The problem
went away after a freshly compiled install after the older RTC files were
deleted

The message I got was mostly just "Segmentation Fault" with very little else to go on. This is probably due to the fact that most of the code involv

[2014-09-30 06:42] k-okada commented on #110
maybe @eisoku9618 already have diagram

[2014-09-30 06:42] #110 closed, assigned to nobody

[2014-10-10 00:33] 130s opened #113 "DIO pin array is different for newer models"
A user who received the robot in August 2014 reported that the following DIO commands don't work as claimed. We're in contact with the manufacturer (Kawada Robotics) for confirmation if the wiring has change.

[nextage_ros_bridge.nextage_client.NextageClient](http://docs.ros.org/hydro/api/nextage_ros_bridge/html/classnextage__ros__bridge_1_1nextage__client_1_1NextageClient.html)

[code]

[2014-10-10 18:50] 130s commented on #113
The change of the wiring spec is confirmed by the manufacturor. Patchwork time now.

Situation: there are 2 types of robots out there; (1) ones where DIO works with version 0.4.2 software, (2) ones DIO not working and need patch.

Requirement: Address the issues with (2) while maintaining functionality for (1) robots.

My idea is to do the following:
- Create a new script that connects to new set

[2014-10-11 05:36] k-okada commented on #113
I think that is ok, for old version use, we ask them to explicitly tell script to use old spec. like

[code]

[2014-10-15 02:31] #113 closed, assigned to 130s

[2014-10-17 01:04] 130s opened #116 "Unittests for DIOs not covering v0.4 spec"
E.g. [this test on travis](https://travis-ci.org/tork-a/rtmros_nextage/builds/38217904) should've not passed for v0.4, with errors like this:

[code]

(Bug above is that [Iros13Hands](https://github.com/tork-a/rtmros_nextage/blob/98b77ec198cb1491b9b61b32c95f2756898cb9c0/nextage_ros_bridge/src/nextage_ros_bridge/iros13_hands.py) doesn't implement methods in its parent `BaseHands` properly, which is

[2014-10-17 08:59] #116 closed, assigned to nobody

[2014-10-17 09:16] 130s opened #119 "Notify about DIO command change with version 0.5"
(From #118) Since this is API breaker for the users with old DIO spec (default DIO spec now becomes v0.5), we need to do once 0.5.1 is released:
- [ ] Update tutorial.
- [ ] Notify old spec users about the change.

[2014-10-30 00:15] 130s commented on #89
From version 0.5.1, [`set_hand_version` method is added](https://github.com/tork-a/rtmros_nextage/commit/0163101aa5614a833c15ef74f2e0510db3bd7129#diff-74831e17eddab0218a7f6d7fbc024a30R100).

Still we hardcode newly added class ([this time `Hands05` class](https://github.com/tork-a/rtmros_nextage/commit/0163101aa5614a833c15ef74f2e0510db3bd7129#diff-74831e17eddab0218a7f6d7fbc024a30R40)) every time w

[2014-11-08 05:11] terakoji opened #123 "nan repeats with invalid waypoint"
waypointに絶対とどかないような値が入ると、以下のようにエラーがでる。

hrpsys viewerでは腕が消える。

[code]

[2014-11-08 05:45] garaemon commented on #123
`/joint_states`にnanが入っていますか?

hrpsys内部で問題が生じているように見えますね

-- ryohei

On Sat, Nov 8, 2014 at 2:13 PM, Koji Terada notifications@github.com
wrote:

[2014-11-08 06:01] DaikiMaekawa commented on #123
こちらのソースで動かした時のエラーのようです。
https://github.com/ros-japan-users/nextage_moveit_planning_execution/blob/master/scripts/moveit_command_sender.py

executeメソッドがブロックしない(?)のが問題かと思ったのですがどうでしょうか。

[2014-11-08 06:05] 130s commented on #123
http://moveit.ros.org/wiki/Executing_Trajectories_with_MoveIt!#The_Trajectory_Execution_Manager

[code]

I haven't tried this yet though.

[2014-11-08 06:55] terakoji opened #124 "runtime_error upon moveit_commander.MoveGroupCommander("left_arm") with real robot"
実機で以下のエラーがでる。

In [1]: import rospy

In [2]: import moveit_commander
the rosdep view is empty: call 'sudo rosdep init' and 'rosdep update'

In [3]: robot = moveit_commander.RobotCommander()
[ERROR] [1415429380.219187466]: End effector 'right_eef' specified for group 'right_gripper', but that group is not known
[ERROR] [1415429380.219267602]: End effector 'left_eef' specified for group 'left_grippe

[2014-11-08 07:11] terakoji commented on #124
前川さんのところからも見えていない。

こちらからrostopic pub -r 10 /hoge std_msgs/String 'data:hoge'
とかしてもrobotでtopicが見えないのが原因っぽい

[2014-11-08 07:25] garaemon commented on #124
ROS_HOSTNAME, ROS_IPをipadressにするのが必要でしょうか?

[2014-11-08 07:25] garaemon commented on #124
環境変数です

[2014-11-08 07:51] terakoji commented on #124
ROS_IPはやったけどROS_HOSTNAMEはやってなかったです。
ためして見ます。

[2014-11-08 08:30] k-okada commented on #123
どなたか再現するコード（xxのlaunchを上げてxxのファイルでXXの指令を送る）を持っていたら，ここに貼り付けていただけると嬉しいです．

[2014-11-08 08:37] k-okada commented on #124
[code]

の結果をすべて残らずカットアンドペーストしていただけると嬉しいです．

[2014-11-08 08:52] garaemon commented on #123
おそらく問題は二つありますね
1. moveitがありえない角度を送ってしまっている
2. その関節角をhrpsysが受け取るとhrpsys内部でnanが発生する

その結果としてjoint_statesにnanが載っていると予想できます

2014年11月8日土曜日、Kei Okadanotifications@github.comさんは書きました:

##

from iPhone

[2014-11-08 11:01] terakoji commented on #124
ROS_IPはやったけどROS_HOSTNAMEはやってなかったです。
ためして見ます。

[2014-11-08 11:02] terakoji commented on #124
koji_terada@ubuntu:~/catkin_ws/src/ros_nextage_painter/nextage_paint_commander/src$ env | grep ROS
ROS_ROOT=/opt/ros/hydro/share/ros
ROS_PACKAGE_PATH=/home/koji_terada/catkin_ws/src:/opt/ros/hydro/share:/opt/ros/hydro/stacks
ROS_MASTER_URI=http://ayame:11311
ROS_TEST_RESULTS_DIR=/home/koji_terada/catkin_ws/build/test_results
ROS_MAVEN_DEPLOYMENT_REPOSITORY=/home/koji_terada/catkin_ws/devel/share/m

[2014-11-08 11:04] terakoji opened #125 "trajectory_filter in need"
waypointとかでplanした場合trajectory_filterがないので恐ろしく速く動いてしまいます。
適切な設定ファイルがあるとうれしいです。

[2014-11-08 11:08] garaemon commented on #124
ROSの通信をする各マシンでは，ホスト名が引けないと`rostopic list`はできるけど`rostopic echo hoge`とかはできないという状態になります．
このとき，`ROS_HOSTNAME`と`ROS_IP`にIPアドレスにすることで名前解決をせずにそこで指定したIPアドレスを利用するようになります．

[2014-11-08 11:38] terakoji commented on #124
ログのように`ROS_IP`しか設定していないので、ちょっと不思議ですね。

[2014-11-08 11:40] garaemon commented on #124
`ROS_HOSTNAME`を設定せずに通信出来ましたか?

http://wiki.ros.org/ROS/EnvironmentVariables

[2014-11-08 15:07] terakoji commented on #124
通信結局できませんでした。
以下のようにROS_IＰだけでも良いきかするのですが。

Node Environment Variables
ROS_IP/ROS_HOSTNAME
ROS_IP and ROS_HOSTNAME are optional environment variable that sets the declared network address of a ROS Node or tool. The options are mutually exclusive, if both are set ROS_HOSTNAME will take precedence. Use ROS_IP if you are specifying an IP address, and ROS_HOSTNAME if you are specifying a host name. Whe

[2014-11-08 15:11] garaemon commented on #124
ROS_IPは二つの計算機どちらでも設定していますか？
もしくはDNSや/etc/hostsで名前解決できる状態になっていますか？

2014年11月9日日曜日、Koji Teradanotifications@github.comさんは書きました:

##

from iPhone

[2014-11-08 22:12] 130s opened #126 "Add a MoveGroup for head"
@DaikiMaekawa has a prototype.

[2014-11-08 22:17] 130s commented on #126
Being able to operate head via MoveIt! may seem not much valuable, but enabling developers to access joint groups via common interface (like `MoveGroup`) means (1) developers not having to learn a robot-specific interface (2) maintainers not having to maintain new I/F.

[2014-11-08 23:34] 130s opened #127 "Tutorial needs how to send MoveIt! waypoints"
ROS Japan group already has it (in Japanese).

[2014-11-08 23:36] 130s commented on #127
[Moved to upstream](https://github.com/start-jsk/rtmros_hironx/issues/283).

[2014-11-08 23:36] #127 closed, assigned to 130s

[2014-11-09 01:38] terakoji commented on #124
ロボット側がもしかしたら正しく設定できでなかったかもしれません。名前解決はDNSがなかったですね。

[2014-11-09 03:13] DaikiMaekawa commented on #126
I will throw PReq after this code reorganization and bug fixes.

[2014-11-09 14:31] k-okada commented on #125
おすすめのフィルタが有ればおしえてください．

2014-11-08 20:04 GMT+09:00 Koji Terada notifications@github.com:

[2014-11-09 15:22] k-okada commented on #124
[code]

としてそこで出てくるホスト名がすべてお互いのマシンで引ける，というのが全体なので，それを確認するのがいいですね．
DNSしないとちょっと難しいと思います．あと，どういう状況だったかわからないですが，各自のマシンでmoveit上げると
なんかやなことが起きそうですね．

2014-11-09 10:38 GMT+09:00 Koji Terada notifications@github.com:

[2014-11-09 16:13] garaemon commented on #124
たしかに、moveitのデフォルトのlaunchはほとんどnodeを固定の名前で立ち上げますね

[2014-11-10 01:49] youtalk commented on #124
当日返信できず、すみません。現状DNSがない状況ですので、すべてのマシンに/etc/hostsでhostnameを設定した上で後日もう一度試してみます。

[2014-11-10 14:48] k-okada commented on #124
2014-11-10 10:49 GMT+09:00 Yutaka Kondo notifications@github.com:

これは結構破綻しそうなので，DHCPとDNSをもったアクセスポイントをおいておくのが良さそうですね．
でロボットとVisionPCのDNSはセットしておいて，ユーザはROS_IPを使ってもらう．うまく行けばこれを
忘れてもDNSで回避できると思うけど，みんなが同じマシン名だったりするとダメなのであくまでも保険．
という感じで．．．

[2014-11-12 02:45] 130s opened #129 "handlight_both command fails to light up on real robot"
A user reported that with v0.5.2, on simulator `handlight_both()` function works fine, printing the pin values for both left and right, and returns true. However on the real robot values print only the result of left arm and the method returns false.

I confirm that on simulation it works fine (same as the reporting user) but I do not have an access to the Aug 2014 version of DIO spec (https://git

[2014-11-12 23:43] #129 closed, assigned to nobody

[2014-11-13 09:52] 130s opened #131 "unittest failing at writeDigitalOutputWithMask"
Root cause: https://github.com/fkanehiro/hrpsys-base/issues/404

[2014-11-13 10:54] 130s commented on #131
Somehow ROS [prerelease test passed](http://jenkins.ros.org/job/prerelease-hydro-rtmros_nextage/5/console), but this issue SHOULD be addressed anyway.

[2014-12-15 02:46] 130s opened #135 "getCurrentPosition('LARM_JOINT5') returns the same z position regardless 'CHEST_JOINT0' and 'WAIST'"
In simulation.
[code]
@emijah
Fyi @DaikiMaekawa

[2014-12-16 06:22] 130s commented on #135
There's probably a mistake in the VRML file according to @emijah.

[2014-12-17 01:42] 130s commented on #51
Once https://github.com/start-jsk/rtmros_hironx/pull/298 gets merged, we'll have ways to specify the reference frame for get and set pose/position/rotation methods, and therefore this ticket can be closed then .

[2014-12-25 07:52] 130s opened #137 "Release 0.6.1"
https://github.com/tork-a/rtmros_nextage/pull/136 breaks interoperability (due to the different model files to be used between Hironx and NXO). It requires software (inside of QNX) to be installed by https://github.com/start-jsk/rtmros_hironx/pull/297. Users of NXO need the following to be implemented on their robot:

<s>- Updater of controller software</s>
<s>- Update packages in `rtmros_nextage`

[2014-12-25 08:03] 130s commented on #68
(2) should be done in https://github.com/tork-a/rtmros_nextage/pull/136.

For (1) I tried (it can be found in https://github.com/130s/rtmros_nextage/commit/867128392f3e34f2526e5545fdf5f360da1544c2) but haven't got it working so far.

[2014-12-28 13:45] k-okada commented on #68
seems ok for me, see https://github.com/fkanehiro/openhrp3/blob/master/sample/CMakeLists.txt for

## working version. Please create PR to see error message on travis.

◉ Kei Okada

On Thu, Dec 25, 2014 at 5:03 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-01-30 12:38] 130s commented on #12
Looks like @jbohren's [ROS Index](http://rosindex.github.io/r/rtmros_nextage/github-tork-a-rtmros_nextage/) beat us to it!

[2015-01-30 12:38] #12 closed

[2015-01-30 19:57] jbohren commented on #12
@130s What were you guys trying to do exactly?

[2015-02-01 07:12] 130s commented on #12
@jbohren sorry to pull you in late. I was suggesting to keep document only in each package's repository, and wondering if we can propagate the content into wiki.ros.org. `ROS Index` reading readme.md perfectly addresses this question (and does many other nice things too).

Not sure about any possible integration plan of ROS Index and ROS wiki though. If there's a plan I support that.

[2015-02-03 14:06] 130s commented on #137
[0.6.0](https://github.com/tork-a/rtmros_nextage/releases/tag/0.6.0) is tagged but not yet released into ROS farm. That should happen after the [upcoming public sync](http://lists.ros.org/pipermail/ros-release/2015-February/004571.html).

[2015-02-06 08:40] 130s commented on #51
Closing since https://github.com/start-jsk/rtmros_hironx/pull/298 is merged.

[2015-02-06 08:40] #51 closed

[2015-02-06 09:34] 130s commented on #137
Above description is wrong; existing NXO robot users can still use the older `rtmros_nextage` packages, by just giving `--MODEL_FILE:="/opt/jsk/etc/HIRONX/model/main.wrl"` as an arg to `nextage_ros_bridge.launch` and its children launch files.

[Released into rosdistro](https://github.com/ros/rosdistro/pull/7108).

Upon next public sync, we need to make an announcement to NXO users about this chan

[2015-02-23 03:31] 130s opened #142 "[WARN] No transform available between frame 'CAMERA_HEAD_R' and planning frame '/WAIST'"
More importantly RViz didn't find `WAIST` fixed-link. But it's the `WAIST` the natto-view only functions with.

[2015-03-04 10:15] 130s opened #143 "[rtmlaunch] Could not Activate ( > localhost:15005/HrpsysSeqStateROSBridge0.rtc ) : Invalid CORBA naming"
A user is experiencing the following error repeatedly after he changes grippers, while he can use the robot as he expects.

Note that he should be using `nextage_ros_bridge` [0.6.0 from source](9dd8422bdb85630236ee67d8bc2e388b251e37e4), and hrpsys 315.2.8 on QNX.

I have no idea why changing hardware (grippers) on the real robot causes error on `hrpsys`.
@emijah

[2015-03-06 02:25] emijah commented on #143
@130s Seem to have missed this one(probably more...)
It seems that the RTC is not connecting the ports. Would it be possible to either use the eclipse rtc system builder or the rtshell command line tool to see what sh.rtc:qOut expects to connect to. Also with HrpsysSeqStateROSBridge0.rtc.mcangle it would be nice to know what this expects to connect to too.

It could be a problem of one side using

[2015-03-06 02:45] emijah commented on #135
@130s Changing this is easy. If you look at the definition(main.wrl) there is no translation value between WAIST and CHEST_JOINT0 so therefore both are considered to be at the same location.
Sorry, this probably dates back to the first rough vrml model I made when we first started working on this robot. The DOF layout was fixed, but there was quite a lot of back and forth with the hardware, so I j

[2015-03-09 01:03] 130s commented on #137
[Announcement silently posted on the wiki](http://wiki.ros.org/action/info/rtmros_nextage?action=diff&rev2=28&rev1=27#Software_update_notice_for_NEXTAGE_OPEN_.28March.2C_2015.29). Once the public sync [occurs, which seems to be planned early this week](http://lists.ros.org/pipermail/ros-release/2015-March/004588.html), I'll send this announcement to the ML and individual users.

[2015-03-09 03:38] 130s opened #145 "No travis appears"
Last time [PR was merged on Feb 3, travis must have been working since we can see a check sign](https://github.com/tork-a/rtmros_nextage/pull/140).
Today, with 2 remaining PRs travis doesn't even show its icon, nor it gets triggered.

[2015-03-09 03:42] k-okada commented on #145
it sometimes happens, please  restart by yourself

##

◉ Kei Okada

On Mon, Mar 9, 2015 at 12:39 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-03-09 03:51] 130s commented on #145
Title changed; what I meant is there's even no travis option on pull request window.

[2015-03-09 03:52] k-okada commented on #145
![screenshot from 2015-03-09 12 52 04](https://cloud.githubusercontent.com/assets/493276/6549718/25054e0c-c65b-11e4-8bd0-d13346a31f38.png)

[2015-03-09 04:02] 130s commented on #145
I meant this. No trait of travis.
![github_no-travis_rtmros_nextage](https://cloud.githubusercontent.com/assets/1840401/6549765/71c5b938-c65c-11e4-9f75-3b8be6297447.png)

[2015-03-09 04:05] k-okada commented on #145
I see, but solution would be same, restart travis or add empty commit, for example just to change commit long and force update the commit

[2015-03-09 04:15] 130s commented on #145
Hm, an empty commit added to https://github.com/tork-a/rtmros_nextage/pull/144 but still no sign of travis.

[2015-03-09 04:29] k-okada commented on #145
I see, I create new PR #146 and change webhook ssettings but not works,
better to ask more upstream level

##

◉ Kei Okada

On Mon, Mar 9, 2015 at 1:15 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-03-09 04:42] k-okada commented on #145
or start over all settings

##

◉ Kei Okada

On Mon, Mar 9, 2015 at 1:29 PM, Kei Okada k-okada@jsk.t.u-tokyo.ac.jp
wrote:

[2015-03-09 04:48] 130s commented on #145
Ok I'll re-set the setting first.

[2015-03-09 05:23] longjie opened #148 "ImportError: No module named rtmstart"
但馬です。

nextage_descriptionのurdfモデルを変更したくてソースビルドを試みているのですが、

https://github.com/tork-a/rtmros_nextage
https://github.com/start-jsk/rtmros_hironx
https://github.com/start-jsk/rtmros_common

をcloneしてきて、ビルドはエラーなくできましたが、

tajima@nutmeg:~/Codes/ros/hydro/src$ rtmlaunch nextage_ros_bridge nextage_ros_bridge_simulation.launch
Traceback (most recent call last):
  File "/home/tajima/Codes/ros/hydro/devel/bi

[2015-03-09 05:24] 130s commented on #145
Removed and re-added webhook then travis started working again. I suspect I might have messed up "token" on webhook page. The one I took from https://travis-ci.org/profile/info is the right one.

[2015-03-09 05:24] #145 closed

[2015-03-09 05:31] 130s commented on #148
Since you're using `rtmlaunch` I assume you're on simulation. Please try to follow this [tutorial for simulation](http://wiki.ros.org/rtmros_nextage/Tutorials/Run%20simulation), particularly:

[code]

[2015-03-09 05:36] longjie commented on #148
It worked, thank you!

[2015-03-09 05:36] #148 closed

[2015-03-09 07:34] 130s commented on #135
@emijah Thank you for the background of the status.

The VRML model file is copyrighted (see [the header](https://github.com/tork-a/rtmros_nextage/blob/a15662dd598f621dc9af9991e10d645166f9c1ed/nextage_description/models/main.wrl#L6)). So someone can edit the file(s) and ask for an approval with Kawada Robotics Co.

[code]

[2015-03-09 08:00] emijah commented on #135
Okay, so the ball is with us.
I'll see what we can do.

2015-03-09 16:34 GMT+09:00 Isaac I.Y. Saito notifications@github.com:

[2015-03-09 11:31] k-okada opened #151 "Start demo from the NEXTAGE icon on the desktop that's generated after build"
アイコンを押すと画面が二つでるのですが、そのあと何か動くようするアイコンかメニューかGUIがほしい
By @inaba.jsk

[2015-03-10 09:37] longjie commented on #103
Hi, I'm successfully using the head stereo cameras for looking for AR markers.
BTW,  have anyone already written launch file for the hand's ueye cameras? @youtalk ?
If not, I'm going to write them hereafter.
Thank you.

[2015-03-10 10:52] youtalk commented on #103
Sorry for my delayed progress. Recently I have less time to use NEXTAGE...
So please continue your writing, @longjie It's quite helpful.

[2015-03-10 13:53] 130s commented on #103
FYI now `ueye_cam` is available via apt thanks to @anqixu.
If someone can add a launch file for the cameras, we can add ueye_cam as a dependency.

[2015-03-11 22:29] 130s opened #152 "Can't reference the frame at the base by hrpsys commands"
From the version 1.0.28 of `hironx_ros_bridge` package, the same reference frame height in hrpsys commands (eg. `getCurrent*`) is used for Hiro and NEXTAGE to compensate the different height. This results in that NEXTAGE users can't reference the base in hrpsys command without any link groups containing base (see below).

Maybe we want to add a link group that includes base?

[code]

[2015-03-12 16:23] 130s opened #153 "ACTION REQUIRED: Important update with version 0.6.0 or higher (March, 2015)"
This is an important message for the NEXTAGE OPEN users.

With the upcoming latest version of the software packages, you'll be required to take an action to apply the following changes.

If you are **NOT** planning to update the software by either one of the following, you can stop reading this email here:
 * `apt-get` command of Ubuntu
 * `git pull` or equivalent commands if you're using the sour

[2015-03-13 01:42] longjie commented on #153
I cannot find /opt/jsk/etc/HIRONX/modes/main.wrl . Which package does include this file?
I'm using following packages with NEXTAGE OPEN.

ii  ros-hydro-nextage-description              0.6.1-0precise-20150310-0207-+0000
ii  ros-hydro-nextage-moveit-config            0.6.1-0precise-20150311-1844-+0000
ii  ros-hydro-nextage-ros-bridge               0.6.1-0precise-20150311-1752-+0000

ii  ros-hydro-h

[2015-03-13 01:52] longjie commented on #153
OK,  /opt/jsk/etc/HIRONX/models/main.wrl sould be the file in the QNX controller.
Anyway I got enomous error after launch such as:

omniORB: ERROR -- the application attempted to invoke an operation
 on a nil reference.
CORBA::SystemException raised by ModelLoader: IDL:omg.org/CORBA/INV_OBJREF:1.0
CORBA::SystemException raised by ModelLoader: IDL:omg.org/CORBA/INV_OBJREF:1.0
omniORB: ERROR -- the

[2015-03-14 01:57] 130s commented on #153
Thanks for clarification, and yes that's correct. I've updated [my original post](https://github.com/tork-a/rtmros_nextage/issues/153#issue-60846562) to clarify this.

Are you still able to operate the robot as intended despite the errors?

Also, could you run the following script, and send back the resulted tarball to support[a-t]opensource-robotics.tokyo.jp? This script shouldn't be harmful to a

[2015-03-14 02:00] 130s commented on #152
Turned out passing `None` does the work. `robot.getCurrentPosition('RARM_JOINT5', frame_name=None)`

http://github.com/tork-a/rtmros_nextage/issues/153

[2015-03-14 02:00] #152 closed

[2015-03-14 02:01] 130s commented on #137
[Done](https://github.com/tork-a/rtmros_nextage/issues/153).

[2015-03-14 02:01] #137 closed

[2015-03-14 02:28] 130s commented on #131
Addressed by https://github.com/tork-a/rtmros_nextage/pull/154 thanks to @k-okada

[2015-03-14 02:28] #131 closed

[2015-03-23 00:50] 130s opened #157 "Release into ROS Indigo"
Hydro will be End-Of-Lifeed this year

(I realized that I was misunderstanding the ROS support cycle but it's said:  http://answers.ros.org/question/200960/how-long-is-support-for-ros-hydro/)

We'll have to **officially** move on to Indigo this year. Given [J-turtle is expected to come out within the 1st half of 2015](http://wiki.ros.org/Distributions/#Next_Distribution_Release), official announce

[2015-03-23 06:59] 130s opened #158 "(hand, dio) add methods to stop air blow when hand hardware module is ejected"
Currently air keeps blowing out when a hand is eject by `handtool_l_eject` (or handtool_r_eject) command.

`initialize_hand_dio` method does stop the air but because it resets all dio pins, of which the result is not always ideal (e.g. while the right hand is ejected the left hand is supposed to keep working on a task).

[2015-03-23 08:38] 130s commented on #153
I'm very sorry that there was a critical mistake.
- WRONG: `AFTER ver. 0.6.0 roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch MODEL:=/opt/jsk/etc/HIRONX/modes/main.wrl`
- CORRECT: `AFTER ver. 0.6.0 roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch MODEL_FILE:=/opt/jsk/etc/HIRONX/model/main.wrl`

[2015-03-25 09:10] longjie commented on #153
Sorry for late response.
I tried correct command. The robot looks working fine.
However, starting nextage_ros_bridge_real.launch, I got error messages below. Some node dies.

I have e-mailed diagnosis file which previously you asked.
Thank you.

[code]

[2015-03-25 16:05] k-okada commented on #157
please also checks
- https://github.com/rdiankov/collada-dom/pull/13
- https://github.com/jsk-ros-pkg/jsk_model_tools/issues/99
  for indigo release, although nextage itself did not depends on collada,
  other hrpsys robots does.

##

◉ Kei Okada

On Mon, Mar 23, 2015 at 9:50 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-03-25 17:47] 534o commented on #153
Sorry for inconvenience, It seems we have bugs need to be fixed, please try this

[code]

to obrain `hot_fix.sh` program

[code]

you can revert these patches (either intentionally  or accidentally)

[code]

-- your friendly neighborhood  TORK dev team

[2015-03-29 00:03] 130s commented on #124
Hard to replicate the same issue, and it looks generic ROS problem. Please feel free if we still need to continue.

[2015-03-29 00:03] #124 closed

[2015-03-29 00:16] 130s opened #160 "setTargetPoseRelative always fails"
Moved from https://github.com/start-jsk/rtmros_hironx/issues/333
All `setTargetPoseRelative` command trials fail on simulator as far as I've tried today (giving separately dx, dy, dz, dr, dp, dw, one-by-one).

[code]

[2015-03-29 03:35] k-okada commented on #160
that's because in setTargetPoseRelative, it uses
[code]
to get current pose but use
[code]
which implicitly set frame at
https://github.com/start-jsk/rtmros_hironx/blob/hydro-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L740
 https://github.com/fkanehiro/hrpsys-base/blob/master/python/hrpsys_config.py#L1275

so use  `self.getCurrentPose(eename)` instead of `self.fk_svc.getCurrent

[2015-03-30 06:45] longjie commented on #153
Some warnings and errors (red text in console) remains, but are'nt they critical?
If not so, I believe the hotfixes solved the error. Thank you!

[code]

First warnings:

[code]

Second fail:

[code]

Third fails:

[code]

Forth fail is:

[code]

[2015-03-30 11:47] 534o commented on #153
Warnings and errors are expected and critical for robots have force sensors, but if you does not have one, it is ok.
Does you robot working fine, after this patch?
-- your friendly neighborhood TORK dev team

[2015-03-30 12:42] longjie commented on #153
Yes, it's working fine. Thank you for your effort.

[2015-03-30 23:34] 130s commented on #160
Hm, the question is why does this happen ONLY with NEXTAGE. Do you have any idea on this?

In terms of setTargetPoseRelative, [nextage_client.py](https://github.com/tork-a/rtmros_nextage/blob/hydro-devel/nextage_ros_bridge/src/nextage_ros_bridge/nextage_client.py) does nothing but just inherits `HIRONX` class, which is a direct child class of `HrpsysConfigurator`. So there shouldn't be any special

[2015-03-31 00:08] k-okada commented on #160
that's because the position of 'RARM_JOINT5' wrt WAIST is different from
'RARM_JOINT*' wrt None, in Nextage case

[code]

[2015-03-31 06:05] 130s commented on #160
That makes very much sense.

PR in the upstream https://github.com/fkanehiro/hrpsys-base/issues/543 should address this issue.

[2015-04-01 01:34] #160 closed

[2015-04-01 01:41] 130s commented on #157
Delegated to https://github.com/start-jsk/rtmros_hironx/issues/202. Unless there will be NEXTAGE specific tasks, let's continue there for Indigo release.

[2015-04-02 23:10] 130s opened #161 "eef coordinate axis may not be intuitive"
#Colors are RBG : XYZ.

While arms are facing down, x-axis faces up.
![eef_axis_nxo](https://cloud.githubusercontent.com/assets/1840401/6975232/e244d400-d94e-11e4-9f3e-128e61d10ab9.png)

I'm still new to humanoid but is this the common frame orientation? [REP-0120: Coordinate Frames for Humanoids Robots](http://www.ros.org/reps/rep-0120.html) doesn't specify this detail.

PR2's hand is intuitive:

[2015-04-04 01:20] k-okada commented on #161
since there are so many variation on hands/gripper, so I believe it is not
able to define common convention of gripper orientation.
As for figures, you see joint/link coordinates on  nextage and see tip link
for PR2 robots, At this moment we do not define tip link in hrpsys robot.

##

◉ Kei Okada

On Fri, Apr 3, 2015 at 8:10 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-04-04 08:00] 130s commented on #161
I see.

I'm sorry if I wasn't clear enough; my point was the "direction" of the axis end effector for NXO (I just referred to PR2 as an example). Since the hand looks like facing down at its "goInitial" pose, I thought the roll-axis being facing down toward the ground as well would be the most intuitive (that's the purpose I cited PR2, where the roll-axis is facing forward as the grippers "look li

[2015-04-04 10:21] k-okada commented on #161
Yes direction is also ambiguous. So each robot may have different rule. We define our local rule at JSK such as:
- Assuming there are a cup on the table and the z orientation of the cup is up direction
- If we solve IK using tip coordinates, it is convenient that z direction of a top and a cup is aligned when the robot grasp the cup naturally

And even if we apply this rule to the nextage robot, w

[2015-04-06 02:43] 130s commented on #161
Thank you for the clarification. I [added a note for the sake of the programmers](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Programming?action=diff&rev2=13&rev1=12).

[2015-04-06 02:43] #161 closed

[2015-04-08 01:50] longjie opened #163 "What is the BODY frame and how can I set it?"
The NEXTAGE Open's root link is WAIST.
I'm getting warning that some frame has no transformation from WAIST.

* BODY
* odom
* base_footprint

odom and base_footprint is OK, they are for mobile robots. They should be somewhere on the ground.
What is the BODY frame and how can I set it?

[2015-04-08 14:26] k-okada commented on #163
could you paste error message?
and also is it possible to reproduce this with simulator?

##

◉ Kei Okada

On Wed, Apr 8, 2015 at 10:50 AM, Ron Tajima notifications@github.com
wrote:

[2015-04-10 00:10] longjie commented on #163
It's not errors, just warnings. I have ignored this until moveit_planning_execution.launch produce massive waning messages to the console (as the SS I attached). I guess it is no problem to publish some tf to eliminate them. I just want to know what is the correct transform from WAIST to BODY and what BODY frame means.

And yes, this warning happens on simulator. Doing:

[code]

and running rviz,

[2015-04-14 11:26] k-okada commented on #163
Although I did not get so many warnings, I have noticed that odom-> base_footprint -> BODY is orphaned . I guess it comes from [hrpsys_ros_bridge/launch/hrpsys_ros_bridge.launch](https://github.com/start-jsk/rtmros_common/blob/39245737ce3729e894aac05fa41fb41a00bc3797/hrpsys_ros_bridge/launch/hrpsys_ros_bridge.launch#L234) and we have to specify `BASE_LINK` when we include hrpsys_ros_bridge.launch

[2015-04-15 01:22] longjie commented on #163
I see. The BODY is for humanoids, to estimate the floating coordinate from gyro-sensors.
I simply added hironx_ros_bridge.launch

[code]

and tf is now completely healthy. Thank you!

[2015-04-16 14:21] k-okada commented on #163
great! could you commit that fix if you have time?
Thanks in advance

##

◉ Kei Okada

On Wed, Apr 15, 2015 at 10:22 AM, Ron Tajima notifications@github.com
wrote:

[2015-05-11 07:25] 130s commented on #153
Closing since no major dispute has been heard for awhile. Thank you for the attention and feedback (esp. @longjie).

[2015-05-11 07:25] #153 closed

[2015-05-11 09:42] 130s opened #165 "collada_to_urdf error: "Target Node visual1/node_joint0_axis0 NOT found!!!""
Referring to [hironx_moveit_config/CMakeLists.txt](https://github.com/start-jsk/rtmros_hironx/blob/c861995a7df8f6240afec4e6b2bac21ced49bc3a/hironx_moveit_config/CMakeLists.txt), I'm trying to manually re-generate urdf based on the discussion in https://github.com/start-jsk/rtmros_hironx/issues/202#issuecomment-100402902.
Ran on Ubuntu Trusty with ROS Indigo.

[code]
#Once this error will be gone I

[2015-05-11 09:57] #165 closed

[2015-05-11 09:59] 130s commented on #165
`urdf/meshes/` folder was re-generated. And `HiroNx.urdf` file was generated at the current directory. So at least `collada_to_urdf` did generate something.
Why a file was named as `HiroNx.urdf` is another question.

[2015-05-11 21:44] k-okada commented on #165
even if it said error, but may be ok, please check if this generate urdf
and the urdf is ok.
the file name is dtermined from

[code]

of collada file

##

◉ Kei Okada

On Mon, May 11, 2015 at 6:42 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-05-12 09:04] 130s commented on #103
Thanks all, now with #162 from @longjie we now have all cameras on the head and at hands working.

[2015-05-12 09:04] #103 closed

[2015-05-12 09:05] 130s opened #168 "Unable to set camera info for calibration"
By following the tutorial http://wiki.ros.org/rtmros_nextage/Tutorials/Setup%20stereo%20camera I got an error. Asked on http://answers.ros.org/question/209058/unable-to-set-camera-info-for-calibration/

[2015-05-15 08:45] 130s opened #170 "MoveIt! default planner often goes wild"
This might as well be reported to upstream (which I might do later) but I also want to raise attention among NXO users.

See the video https://www.youtube.com/watch?v=e4XMzfvK6II
Planned path sometimes goes off VERY wild and it looks almost uncontrollable.

Similar issue is seen with Baxter: https://www.youtube.com/watch?v=1q4W8LQlEwk&feature=youtu.be

Happens on both ROS Indigo and Hydro.
[code]

[2015-05-19 08:15] 130s opened #172 "On real robot "[rtmlaunch] SIMULATOR_NAME RobotHardware0""
Why does `rtmlaunch` get started and why we're seeing "simulator" when we work with a real robot?
[code]

[2015-05-19 08:17] 130s commented on #172
[code]

[2015-05-19 14:41] k-okada commented on #172
this just showing SIMULATOR_NAME environment variables
https://github.com/start-jsk/rtmros_common/blob/master/openrtm_tools/src/openrtm_tools/rtmlaunch.py#L223
and used in
https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_tools/launch/hrpsys.launch#L118
as RobotHardware name (On real robot it is RobotHardware but on simulaiton
it is HiroNX(Robot)0 or something)

##

◉ Kei Okada

On Tue

[2015-05-20 11:43] 130s opened #173 "Could not start free-run live video mode on UEye camera 'right_hand_ueye' (IS_NO_SUCCESS)"
On the same NXO robot where ueye camera on the right hand worked fine https://github.com/tork-a/rtmros_nextage/pull/162#issuecomment-101181101, now this error happens when the topic `/right_hand_ueye/image_raw` is tried being subscribed to.
[code]

[2015-05-20 11:48] k-okada commented on #173
Please check camera is

[2015-05-20 12:11] 130s commented on #173
`ueyecameramanager` (proprietary driver software) isn't receiving images either.

[2015-05-20 12:12] #173 closed

[2015-05-21 00:38] 130s commented on #157
We might need to separately work on "port to ROS Indigo" task from Hironx.
With https://github.com/tork-a/rtmros_nextage/issues/173 I noticed that NXO depends on a specific version of ueye SDK (latest 4.6.1 is not compatible according to @emijah).

[2015-05-21 01:01] 130s commented on #173
- With ueye SDK 4.1 and kernel 3.13 (released this week) this issue occurred.
- With ueye SDK 4.4 and the same kernel version we started getting images again.

[2015-05-21 01:49] emijah commented on #157
There is a problem with the ueye drivers. The best version right now is version 4.4

[2015-05-21 02:10] 130s opened #174 "Image from hand camera not displayed on RViz"
Image topics are received but RViz camera plugin says no image received.
[code]

[2015-05-21 02:12] k-okada commented on #174
please try "image" plugin , not "camera" plugin
camera plugin requires both image and camera_info

##

◉ Kei Okada

On Thu, May 21, 2015 at 11:10 AM, Isaac I.Y. Saito <notifications@github.com

[2015-05-21 02:23] 130s commented on #174
That did it. Thank you!

[2015-05-21 02:23] #174 closed

[2015-05-21 03:04] k-okada commented on #174
I think ar tools also depends on camera_info, so you need to publish them
to use ar pose

##

◉ Kei Okada

On Thu, May 21, 2015 at 11:23 AM, Isaac I.Y. Saito <notifications@github.com

[2015-05-21 10:13] 130s opened #175 "natto view is lost with the real robot"
`For frame [WAIST_Link]: Frame [WAIST_Link] does not exist`

[code]

[2015-05-22 10:33] DamienSalle commented on #170
Hi all,
In Tecnalia we have also found this issue painful for some time now.
We have for example decided Not to use MoveIt in our critical industrial applications until this is solved.

We are working on this at the moment.

ROS-Industrial have found the origin of this bug (moveit exits when the first solution is found, not trying to get other solutions even if Time or Attemps threshold has not be

[2015-05-23 14:10] k-okada commented on #175
this may because of https://github.com/tork-a/rtmros_nextage/pull/105

check
https://github.com/start-jsk/rtmros_hironx/blob/hydro-devel/hironx_ros_bridge/launch/hironx_ros_bridge.launch#L42
and
https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/scripts/collision_state.py#L63

you need to fix model fine robot computer ad tork-a/rtmros_nextage/pull/105
or pass model in user'si

[2015-05-26 05:47] 130s commented on #157
We have to take care of both new and existing owners of this robot regarding ROS Indigo.
- For new owners: It's fine as long as the manufacturer or someone else installs the confirmed version of ueye SDK (Btw I've confirmed that 4.4.0 works with 14.04, [same as 12.04](https://github.com/tork-a/rtmros_nextage/issues/173#issuecomment-104084251)).
- For existing users, how the manufacturer provides t

[2015-05-26 06:05] 130s commented on #157
I confirmed that ueye cam SDK 4.61 version (that's available online as of today) works on 14.04, with its proprietary manager software. I haven't tested with other software (OpenCV, ROS etc.)

[2015-05-26 08:57] RyuYamamoto opened #177 "MoveIt! fails with "ABORTED: Timeout reached" on a real robot"
実機にてプログラムを実行しようとしたところ，move itのpythonプログラム側のデバッグメッセージにABORTED: Timeout reachedと出ていて実機が動作しませんでした．以下に動かしたプログラムとその時のデバッグメッセージを冗長ですが添付します.

```roslaunch nextage_moveit_config moveit_planning_execution.launch```

[ WARN] [1432629448.160931786]: The root link WAIST has an inertia specified in the URDF, but KDL does not support a root link with an inertia.  As a workaround, you can add an extra dummy link

[2015-05-26 09:07] k-okada commented on #177
https://github.com/tork-a/rtmros_nextage/issues/170

## はやられていますのでしょうか

◉ Kei Okada

2015/05/26 1:57、RyuYamamoto notifications@github.com のメッセージ:

[2015-05-30 23:27] longjie commented on #170
Hi,
I also have noticed this behavior. As you mentioned, I guessed it was because of the planning algorithm, so I have dodged this by choosing RRT(star).  Some algorithm like vanilla RRT have no optimality. Can we set the default algorithm as optimize algorithms such as RRT(star) or RRT connect? I don't know which algorithm is default, though.

[2015-05-30 23:50] longjie commented on #170
Oh, @TecnaliaRobotics already mentioned the solution, thanks.

 PPT explaining the issue and solution: http://rosindustrial.org/s/IDEXX_Planning_Presentation.pdf

[2015-06-01 08:18] DamienSalle commented on #170
Hello all.
An update on the "solution" I provided earlier:
After a lot of tests with moveit planning packages, we found that:
- The bug related to taking the best solution from the x attempts was fixed since the version 0.5.5 of Moveit Planners
- The improvement in reloading the planning parameters from the server (each time we do .solve()) is related to the use of the new moveit_setup_assistant o

[2015-06-15 16:03] 130s opened #178 "ikfast with nxo"
I'm just wondering if there is any reason why nextage_moveit_config does not use ikfast?
@k-okada

[2015-06-15 17:03] k-okada commented on #178
no

##

◉ Kei Okada

On Tue, Jun 16, 2015 at 1:03 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-06-16 00:38] emijah commented on #178
I've tried generating the IK using ikfast recently, but it was unsuccessful. So I'm posting here.
I used the main.dae model distributed in nextage_description with the following command.

[code]

The output from this was

[code]

[2015-06-16 01:27] emijah commented on #178
よく見るとsympyの問題でしたので、インタフェースを合わせて現在計算中です。

[2015-06-16 02:10] 130s commented on #178
I saw a possibly relevant PR https://github.com/rdiankov/openrave/pull/351 so the issue might be already addressed.
But just wondering; have you tried also on Ubuntu 14.04 with ROS Indigo?

[2015-06-16 02:20] 130s opened #179 "Enable AR tag recognition"
@RyuYamamoto is working on this.

- [ ] Use http://wiki.ros.org/rtmros_nextage/Tutorials/Setup%20stereo%20camera#Cameras_at_hand_tip to run cameras at handtip. Output1: On rqt_image_view (or similar tool) you can see camera image topic. Output2: Fill the blank topic names on the wiki
- [ ] Create a launch file under nextage_ros_bridge/launch that passes the topics above to ar_track_alvar pkg. Don'

[2015-06-16 02:39] RyuYamamoto commented on #179
作業しようとした途中ros_bridgeを立ち上げたら以下のようなエラーで接続ができなくなりました.

[code]

[2015-06-16 02:50] 130s commented on #179
Aside from the real issue, this particular task doesn't require ros_bridge to be running, until you want to work with `tf`.

[2015-06-16 02:51] emijah commented on #178
Actually, I just send that pull request.
However, the IK itself is taking ages to put together so there may be another problem.

[2015-06-16 04:36] RyuYamamoto commented on #179
で手先カメラの画像が見れることをrqtで確認しました．

wikiの方も空欄になっているtopicを以下のようにしました.

[2015-06-16 07:07] 130s commented on #179
The issue reported in https://github.com/tork-a/rtmros_nextage/issues/179#issuecomment-112263834 is not generic; turned out it's only due to the specific lab's LAN environment.

[2015-06-16 08:03] 130s commented on #179
On this robot, I think hand-tip cameras can be statically attached to the tf frame of eef (I forgot the name). So the node you have to add would look something like (numbers and the frame names can be incorrect):

[code]

[2015-07-09 05:59] emijah commented on #31
It may be better to just adjust the model. Going through Kawada will be quite a hassle.
That way you can "develop" a TORK version of the model that you can adjust according to your free will.

[2015-07-09 06:09] emijah opened #181 "Is the simulation working?"
I'm using a recently updated Ubuntu 12.04 with the latest ros-hydro packages and I seem to have lost the ability to run the simulation with

`prompt> roslaunch nextage_ros_bridge nextage_ros_bridge_simulation.launch`

Has this command changed? Please tell me what I'm doing wrong. The list of packages I have installed are as follows.

--------------------------------
ii  python-rosdep

[2015-07-09 14:09] k-okada commented on #181
please provide error message.

##

◉ Kei Okada

On Thu, Jul 9, 2015 at 3:09 PM, Hajime SAITO notifications@github.com
wrote:

[2015-07-09 14:12] k-okada commented on #31
@emijah is the only one who owns nextage robot, so please update model
files, thanks!

##

◉ Kei Okada

On Thu, Jul 9, 2015 at 2:59 PM, Hajime SAITO notifications@github.com
wrote:

[2015-07-09 14:15] 130s commented on #181
For simulation you have to use `rtmlaunch`, not `roslaunch`. Please make sure you go through [the tutorial for simulation](http://wiki.ros.org/rtmros_nextage/Tutorials/Run%20simulation).

[2015-07-10 01:19] emijah commented on #181
The thing is, rtmlaunch doesn't seem to exist. When I type rtmlaunch on the command line, I get

[code]

When I look in the directory,

[code]

So it seems like it doesn't exist. Or is it located somewhere else now...?
A quick search shows,

[code]

A look in my .bashrc file shows that I have

[code]

After deleting this and another alias for rtmtest, I can run

[code]

and can confirm it now work

[2015-07-10 01:25] emijah commented on #31
gaaaaa

[2015-07-10 03:15] emijah commented on #178
I've emailed Rosen and he says that some restraints he added recently may be the culprit. He's working on it in his spare time.

[2015-07-10 03:32] emijah opened #182 "Script nextage.py emits errors related "loading robot model 'HiroNX'""
Seems to be one of those days...

After getting the simulator going, I tried to connect to it using the nextage.py script, but I get errors.
The exact command I tried is,
[code]
After this I get
[code]
After I get the ipython prompt back, I can issue commands like,
[code]
The Z position seems consistent with Hiro.

[2015-07-10 04:31] 130s commented on #172
Understood, thank you.

[2015-07-10 04:31] #172 closed

[2015-07-10 05:03] 130s commented on #181
Thank you for the catch. I [updated the wiki](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Run%20simulation?action=diff&rev2=4&rev1=2).

[2015-07-10 05:03] #181 closed

[2015-07-10 05:28] emijah commented on #181
Thank you

[2015-07-10 09:43] 130s commented on #182
I can't reproduce the issue on my Indigo machine. Could you:
- send the full list of commands you ran?
- run the following script and send back the generated tarball to support[atto]opensource-robotics.tokyo.jp so that we can get better idea of your system?

[code]

[2015-07-10 09:54] emijah commented on #182
The full list of commands would be

[code]

and then in another terminal

[code]

and after getting all the error messages I did the following and found that despite the errors, the system seemed to be responsive.

[code]

I'll send you the tarball in a few moments.

[2015-07-15 00:28] 130s commented on #168
Although got [an answer](http://answers.ros.org/question/209058/unable-to-set-camera-info-for-calibration/?answer=213198#post-id-213198) from the developer of ueye_cam, I don't have an access to the device and can't verify if the suggested solution works. But it seems valid so I close it for now. Feel free to reopen when this happens again.

[2015-07-15 00:28] #168 closed

[2015-07-30 08:57] #163 closed

[2015-08-01 02:30] 130s opened #183 "tf tree is sparse on simulation on Indigo"
![nxo_indigo_tftree_sparse](https://cloud.githubusercontent.com/assets/1840401/9020327/562a5920-37ba-11e5-9d63-56425a72fccc.png)

[code]

[2015-08-01 02:34] k-okada commented on #183
check if robot_state_publisher works

[2015-08-04 05:00] k-okada opened #184 "nextage.py always requires moveit"
nextage.py always request moveit / ros environment, but I'd like to use them as a command line interface with rtm only environment like http://wiki.ros.org/rtmros_nextage/Tutorials/Programming_Hiro_NEXTAGE_OPEN_RTM

question from Yang-san @ waseda

[2015-08-04 05:01] k-okada opened #185 "how to write continuous trajectory command"
question from Yang-san @ waseda

[2015-08-04 05:12] k-okada commented on #185
you can use

[code]

from hrpsys 0.6.0, you can use [setJointAnglesSequenceOfGroup](https://github.com/fkanehiro/hrpsys-base/blob/3eab14b836dea11386dbdb7d0ab90a0ed9521237/python/hrpsys_config.py#L1018)

[2015-08-04 06:16] k-okada commented on #184
fixed in https://github.com/start-jsk/rtmros_hironx/pull/380

[2015-08-04 09:31] 130s commented on #184
Fixed via https://github.com/start-jsk/rtmros_hironx/pull/380

[2015-08-04 09:31] #184 closed

[2015-08-14 06:01] 130s commented on #170
@TecnaliaRobotics thanks for the valuable info.

Well, `moveit_planners` 0.5.5 looks like was released in 2014-03-22 (see [changelog](http://rosindex.github.io/p/moveit_planners/#hydro) for ROS Hydro. Could you make sure if the version you mentioned is correct?

---

If someone wants to programmatically change the kinematic solver, [here's a Python example](https://github.com/start-jsk/rtmros_hiro

[2015-08-14 08:50] 130s opened #186 "Add unit tests for MoveIt! config"
Waiting for https://github.com/start-jsk/rtmros_hironx/pull/389 to be merged.

[2015-08-17 09:35] markusgft commented on #178
Hi all, are there by any chance any news on this issue?

[2015-08-20 12:05] k-okada commented on #178
see #187, please check if that works.

[2015-08-24 02:25] emijah commented on #178
@markusgft I've tested the newest code in the "production" line and it seems to be working.

[2015-09-18 03:50] kuochiyoug opened #188 "About real time joystick control"
Hi! I am now doing work on joystick controlling on Nextage Open Robot.
I had tried use moveit_commander in python code but it not works very well.
Seems moveit only provide target pose solution but no trajectory speed control.
I can only do is keep sending following command in every loop:
[code]
The movement that build by this code is not going very well.
All movement has delay in every executions

[2015-09-25 11:20] k-okada commented on #188
if you'd like to use realtime-control, you'd better to call via ros/hrpsys interface, not move interface.

http://wiki.ros.org/rtmros_nextage/Tutorials/Programming may help.

[2015-09-26 07:45] kuochiyoug commented on #188
Oh!
Thanks you very much!
It works with it.!

[2015-09-27 01:26] 130s commented on #188
I'm closing @kuochiyoug since I assume your original issue is resolved. Please feel free to reopen (or even better to open as new ticket) if you come up with specific questions.

[2015-09-27 01:26] #188 closed

[2015-10-02 05:34] 130s commented on #178
Addressed by #187. Please not hesitate to reopen if this issue remains.

[2015-10-02 05:34] #178 closed

[2015-10-02 05:55] 130s opened #189 "Failed to load library /opt/ros/hydro/lib//libueye_cam_nodelet.so."
Report from a new user:

[code]

Full log of roslaunch:
[code]

[2015-10-02 06:12] 130s commented on #189
The user also reported:

`NxSupervisor` is a proprietary software the manufacturer makes, so sounds like camera isn't working and thus this is unlikely an issue on OSS side.

[2015-10-02 06:12] #189 closed

[2015-10-16 21:02] 130s commented on #157
All checked.

[2015-10-16 21:02] #157 closed

[2015-10-16 21:21] #158 closed

[2015-10-16 21:33] 130s commented on #183
Can't reproduce the issue again.

`$ rtmlaunch nextage_ros_bridge nextage_ros_bridge_simulation.launch`
![nxo_decent_node_tf-tree_201510](https://cloud.githubusercontent.com/assets/1840401/10553827/ccc19172-7412-11e5-8e6f-1fdd948c9bf3.png)

[2015-10-16 21:33] #183 closed

[2015-10-17 23:25] #126 closed

[2015-10-17 23:27] 130s commented on #119
Merely 1 year passed and no claim has been reported.

[2015-10-17 23:27] #119 closed

[2015-10-17 23:54] 130s opened #193 ""file does not exist [/opt/ros/indigo/share/nextage_moveit_config/config/kinematics.yaml]""
`moveit_config moveit_planning_execution.launch` terminates with the error:

[code]

[2015-10-17 23:55] 130s commented on #193
This should be addressed in https://github.com/tork-a/rtmros_nextage/pull/192 (more specifically https://github.com/130s/rtmros_nextage/commit/851e84ffa247c475dfaf2e454057ff4b10386f9d).

[2015-10-17 23:55] #193 closed

[2015-10-18 00:44] 130s commented on #170
More specifically, from [this line](https://github.com/start-jsk/rtmros_hironx/pull/389/files#diff-68a1160ea0ff512aa6963f8383742dd4R65) and below.

[2015-10-18 01:08] 130s commented on #193
For deb users,
- most of you should not be affected by this issue. And you won't be affected either.
- only [Shadow repo](http://wiki.ros.org/ShadowRepository#Overview) users may be potentially affected. This should be resolved in 0.6.6 that will be soon available within in 2 or 3 days at most (release request is already in flight https://github.com/ros/rosdistro/pull/9667)

[2015-10-19 09:23] 130s commented on #177
Looking at the log, the default planner is chosen, so most likely the workaround in #170 isn't active.

So I'll close this for now. Please re-open if workaround in #170 doesn't work.

[2015-10-19 09:23] #177 closed

[2015-10-21 16:13] 130s opened #197 "[Announce] Default branch is now indigo-devel"
https://github.com/tork-a/rtmros_nextage/tree/indigo-devel

Please see [this announcement on Hironx repo](https://github.com/start-jsk/rtmros_hironx/issues/396) for the detail of this change.

[2015-10-21 16:27] 130s commented on #197
New tag 0.7.0 is made for indigo. Release req to ROS buildfarm https://github.com/ros/rosdistro/pull/9688

For Hydro:
- 0.6.6 is the last released version.
- Source code will be kept available at `hydro-devel` branch, although no newer commits will go in there unless requested.

[2015-10-21 16:28] 130s commented on #197
I'll keep this open for awhile for the sake of those who are not subscribing.

[2015-10-23 08:26] 130s opened #198 "Add torso to both-arm Move Group"
Cf. #159

A Move Group with two arms **and torso** still makes sense to be called as "both arm" IMO.

[2015-10-26 08:33] 130s commented on #198
Addressed via https://github.com/tork-a/rtmros_nextage/pull/199

[2015-10-26 08:33] #198 closed

[2015-10-26 18:18] 130s commented on #185
This is added to the [tutorial](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Programming_Hiro_NEXTAGE_OPEN_RTM?action=diff&rev2=13&rev1=12).

I assume that is hrpsys 315.6.0.

[2015-10-26 18:18] #185 closed

[2016-01-05 16:02] TecnaliaRobotics opened #214 "Issue planning dual-arm motions (with torso) from Python"
Hi.

I'm testing the Hydro version of the new Moveit configuration that allows dual-arm motion planning.
Got sources from Github.

Everything if fine when using the Rviz Motion planning interface: when allowing to "Replan", any random configuration can be planned and executed.

The issue is when trying to plan the same motion from Python.

In the attached python test code (attention, indentation i

[2016-01-06 08:45] 130s commented on #214
I did run your script and it seems to me I'm running into the same issue. Need to look into more.

(Meanwhile, do you have specific reason to use `LBKPIECEkConfigDefault`? I know in https://github.com/tork-a/rtmros_nextage/issues/170#issuecomment-107355938 LBK might be working fine for you but we're not yet sure, so at least I keep using `RRT`*.)

[2016-01-06 11:34] DamienSalle commented on #214
Hi.
No, no specific reason. I tested various planners.
In Rviz Moveit panel,  LBKPIECE1 is used by default and the planner does provide a solution.
So i wanted to change as little variables as possible...

Not sure if it helps you find a solution, but this post might be useful...
https://groups.google.com/d/topic/moveit-users/vV5GR2kFR9o/discussion

[2016-01-07 10:35] 130s commented on #186
Done in https://github.com/tork-a/rtmros_nextage/pull/212

[2016-01-07 10:35] #186 closed

[2016-01-08 01:45] RyuYamamoto opened #215 "AttributeError: 'module' object has no attribute 'ComponentObserver'"
wikiより（http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine）
indigo版を以下のようにインストール後，

シミュレータを起動しようとしたところ，以下のエラーで起動できませんでした．

  File "/opt/ros/indigo/bin/rtmlaunch", line 28, in <module>
    from openrtm_tools import rtmstart, rtmlaunch
  File "/opt/ros/indigo/lib/python2.7/dist-packages/openrtm_tools/rtmlaunch.py", line 14, in <module>
    from rtsh

[2016-01-08 02:19] k-okada commented on #215
I think you have installed openrtm other than ros repository,
please try

[code]

also check

[code]

and

[code]

may help

[2016-01-08 02:26] RyuYamamoto commented on #215
起動することが出来ました．ありがとうございます．

[2016-01-08 04:58] RyuYamamoto opened #216 "[rtmlaunch] Could not Activate ( nextage:15005/HrpsysSeqStateROSBridge0.rtc ) : Invalid CORBA naming service: nextage:15005"
で実機に接続できずに以下のエラーがでます．

[code]

[2016-01-08 04:59] RyuYamamoto commented on #216
以下、使用してるバージョンです．

[code]

[2016-01-08 05:02] k-okada commented on #216
apt-get update
apt-get install --reinstall collada-dom*
apt-get install --reinstall ros-indigo-openhrp*

and try again

##

◉ Kei Okada

On Fri, Jan 8, 2016 at 1:58 PM, RyuYamamoto notifications@github.com
wrote:

[2016-01-08 05:36] RyuYamamoto commented on #216
[code]

[2016-01-08 05:38] k-okada commented on #216
please try

[code]

##

◉ Kei Okada

On Fri, Jan 8, 2016 at 2:36 PM, RyuYamamoto notifications@github.com
wrote:

[2016-01-08 05:58] RyuYamamoto commented on #216
うまく行きましたが、ros_birdgeは起動しないです．

[code]

[2016-01-08 06:01] k-okada commented on #216
are you able to connect to  nextage? are you sure that they have omni nameserver at port 15005?

[code]

[2016-01-08 06:04] 130s commented on #216
Looks similar to https://github.com/tork-a/rtmros_nextage/issues/179. And as said in https://github.com/tork-a/rtmros_nextage/issues/179#issuecomment-112315984, #179 was environment specific issue (, which I can't recall how we fixed that).

And #179 and this #216 are happening at the same lab.

[2016-01-08 06:13] RyuYamamoto commented on #216
[code]

[2016-01-08 06:14] 130s commented on #216
What about `rtls nextage:15005/` (with slash)?

[2016-01-08 06:16] RyuYamamoto commented on #216
[code]

[2016-01-08 06:17] 130s commented on #216
`ping nextage`?

[2016-01-08 06:17] RyuYamamoto commented on #216
pingは通りました．

[2016-01-08 06:41] 130s commented on #216
From https://github.com/tork-a/rtmros_nextage/issues/216#issuecomment-169908237, corba name server is not running on the target host. Please make sure that your robot is started properly, or you're trying to connect the right host.

[2016-01-08 06:41] #216 closed

[2016-01-08 08:01] RyuYamamoto opened #217 "The error before refreshing the cache was: Failed to load library /opt/ros/indigo/lib//libueye_cam_nodelet.so"
でカメラ画像が取得できずに以下のエラーが出ます．カメラは接続されています．

[code]

[2016-01-08 08:17] 130s commented on #217
[code]

?

[2016-01-08 08:19] RyuYamamoto commented on #217
[code]

[2016-01-08 08:23] 130s commented on #217
This sounds like the camera's proprietary driver is no installed.
I'll share the best instruction to install it.

[2016-01-08 09:20] k-okada commented on #217
https://jp.ids-imaging.com/ueye-software-archive.html#4.61_Linux
this one?

##

◉ Kei Okada

On Fri, Jan 8, 2016 at 5:23 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-01-08 09:58] 130s commented on #217
I thought `ueye_cam` package may have taken care of installation of the library, but I was wrong (e.g. looking at https://github.com/anqixu/ueye_cam/issues/21).

So, yes. We need to manually install it for now.

@RyuYamamoto I'm closing this one but please reopen if the issue persists even with the library installed.

[2016-01-08 09:58] #217 closed

[2016-01-10 05:40] k-okada commented on #216
これは実機のnamesrverが上がっていなかったということでしょうか？
実機のnameserverは実機を立ち上げえたら動くとはずですが，何故かリブートしたら治った？，そもそもnameserverが走っていなかった？のどちらかでしょうか？
あまり解決方法になりませんが，少しでも混乱をなくすためにエラーメッセージを少し親切にしておきました．こういう風に言ってくれたら，困らなかったのに，というのがあれば，コメントを追加しておいて下さい．
https://github.com/start-jsk/rtmros_common/pull/904

[2016-01-11 15:16] 130s commented on #216
On the host OP was targetting, nameserver was not running
(turned out there were 2 QNX hosts in the same network but nameserver was running on one host only, and we did not realize the OP was connecting to the wrong one).

[2016-01-12 13:05] k-okada commented on #216
what is `OP` ?

##

◉ Kei Okada

On Tue, Jan 12, 2016 at 12:16 AM, Isaac I.Y. Saito <notifications@github.com

[2016-01-12 17:28] 130s commented on #216
Sorry I meant [Original Poster](https://en.wikipedia.org/wiki/Internet_forum#Post).

[2016-01-12 22:22] k-okada commented on #216
I see, so using `nextage` as target hostname was wrong, is it correct?

[2016-01-13 06:59] 130s commented on #216
No, we initially assigned `nextage` in `/etc/hosts` to a wrong host where necessary service was not running.
Using `nextage` for an argument `--host` worked perfectly fine for us.

[2016-01-13 16:32] k-okada commented on #216
I see,

[code]

`--nameserver` instead of `--host` ??? ;-)

##

◉ Kei Okada

On Wed, Jan 13, 2016 at 3:59 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-01-15 01:19] 130s commented on #173
@RyuYamamoto FYI. Please try SDK version 4.4.

[2016-01-15 01:38] RyuYamamoto opened #218 "[ERROR] [1452821520.942674221]: No UEye cameras are connected"
ueye SDK 4.4をインストール後

すると以下のようなエラーが出ます
[code]

[2016-01-15 01:41] RyuYamamoto commented on #218
ros_bridge側のデバッグメッセージです
正常に起動していないということでしょうか？

[code]

[2016-01-15 01:42] 130s commented on #218
?

[2016-01-15 01:43] 130s commented on #218
Can you check this?

[2016-01-15 01:46] RyuYamamoto commented on #218
ueyeusbd is not running.

[2016-01-15 01:51] RyuYamamoto commented on #218
[code]

[2016-01-15 01:59] 130s commented on #218
BTW, ros_bridge not running is a separate issue and shouldn't matter to this particular problem.

[2016-01-15 02:22] RyuYamamoto commented on #218
uninstall ueye SDK 4.4,

[code]

install ueye SDK 4.6(Latest version)，

[code]

[2016-01-15 02:26] 130s commented on #218
Did you run this?

[2016-01-15 02:27] RyuYamamoto commented on #218
はい、実行しました

[2016-01-15 02:32] RyuYamamoto commented on #218
もう一度実行してみましたが駄目でした

[code]

[2016-01-15 02:36] RyuYamamoto commented on #218
[code]

[2016-01-15 03:30] 130s commented on #218
Turned out the camera is not connected to the machine. So error messages (`No UEye cameras are connected` and such) were already providing sufficient info.

[2016-01-15 03:30] #218 closed

[2016-01-15 07:30] RyuYamamoto opened #219 "[ERROR] [1452874562.044205758]: Failed to load nodelet [/ueye_cam_nodelet_master] of type [ueye_cam/ueye_cam_nodelet]: According to the loaded plugin descriptions the class ueye_cam/ueye_cam_nodelet with base class type nodelet::Nodelet does not exist."
以下のエラーが生じてしまいます．

[code]

[2016-01-15 07:41] 130s commented on #219
FYI [error in this thread](http://answers.ros.org/question/98861/how-to-use-ueye_cam-to-drive-my-ui1221-m-camera/) looks similar.

[2016-01-15 07:42] 130s commented on #219
Please run the same command as https://github.com/tork-a/rtmros_nextage/issues/217#issuecomment-169929334

[2016-01-15 07:46] 130s commented on #219
Also `rospack find ueye_cam` and `rosversion ueye_cam`.

[2016-01-15 09:45] 130s commented on #219
Original poster was using 2 ROS hosts; host-(1) where ueye camera is connected to, and host-(2) where OP was trying to subscribe camera topics from.
Issue was worked around by simply using host-(1) for topic subscription.

Sounds like the cause of issue is a general ROS network issue http://wiki.ros.org/ROS/NetworkSetup.

[2016-01-15 09:45] #219 closed

[2016-01-15 14:42] TecnaliaRobotics opened #220 "Update the kinematics parameters of the robot after an external geometric calibration"
In order to achieve good accuracy in a robotic system, one need to have:
- a good robot geometric calibration (ensure that the robot direct geometric model -the Denavit Hartenberg parameters- used in the control system are accurately matching the real hardware). A few decimals or errors on a the orientation of the shoulder will lead to many millimeters of errors on the tool tip Cartesian position.

[2016-01-28 06:24] 130s commented on #214
@TecnaliaRobotics

Have you confirmed that the path (start pose and goal pose) you're giving in your python script works on RViz?
If so screenshot/videoshot of it might be helpful, as well as the reproduction steps on RViz.

[2016-01-28 07:10] DamienSalle commented on #214
Yes I do confirm this.
The steps where
1. Find in rviz a goal config that would request torso rotation to be reached.
2. Check in rviz/moveit that the planner finds a solution (always allow 'múltiple attemps ' otherwise never finds a decent plan')
3. Apply motion in rviz (simulation)
4. Write down ‎final robot pose
5. Go back to initianl position
6. Ask in the python script‎ to go to the configura

[2016-01-29 13:56] DamienSalle commented on #214
Find attached a video I generated when testing the full-body moveit planning in rviz, with a combined motion of the torso + arms + head...

[Tecnalia_MoveIT_NextageWholeBody.zip](https://github.com/tork-a/rtmros_nextage/files/109824/Tecnalia_MoveIT_NextageWholeBody.zip)

[2016-01-31 11:21] 130s commented on #214
Thanks for the video.

So far our guess is that what you want to do, ie. to move both arms and torso by specifying EEF poses using inverse kinematics, might not be possible.

Although I haven't looked into, I doubt MoveIt! RViz plugin only passes EEF poses to MoveIt! internal processes. Instead I assume plugin computes the joint angles of the given goal pose and pass those values to MoveIt! (there

[2016-02-02 01:45] 130s opened #227 "Servo goes off at the end of checkEncoders"
<s>After</s> Before the 2nd "bump" motion at the end of `checkEncoders`, servo goes off and the green light at the chest starts blinking. Servo can be turned on by servoOn command from `NextageOpenSupervisor` (Kawada's proprietary tool).

I'm familliar with this phonomenon but for now can't find a ticket. Will keep looking.

[code]

Content of `rtcd.log`.

[code]

[2016-02-02 01:58] 130s commented on #227
On Ubuntu side, error message reads:

Through `NextageOpenSupervisor`, servoOn, `initPose`, `servoOff` work.

[2016-02-02 02:40] 130s commented on #227
`HIRONX.servoOn` does NOT work right after this issue occurred.
`NextageOpenSupervisor's servoOn` does work.

@emijah

[2016-02-02 02:42] 130s commented on #227
The phenomenon looks similar to https://github.com/start-jsk/hironx-package/issues/107, but the solution from there isn't applicable (2 CPUs are enabled already).

[2016-02-02 02:45] emijah commented on #227
Hmm. I'm not sure what is going on.
Did you turn the servo drives on when the arms were still being pulled down by gravity?
If so, the encoders will show motion so the system will refuse to turn on if the difference is excessive.

[2016-02-02 02:55] 130s commented on #227
Sounds like I'm forced to get out (for the lunch at customer's site) so will be back soon but I now suspect https://github.com/tork-a/rtmros_nextage/issues/153, hrpsys version might be old.

[2016-02-02 03:56] 130s commented on #227
Sorry, there's a correction:
- WRONG: **After** the 2nd "bump" motion at the end of checkEncoders, servo goes off and the green light at the chest starts blinking.
- CORRECT: **Before** the 2nd "bump" motion at the end of checkEncoders, servo goes off and the green light at the chest starts blinking.

[2016-02-02 04:00] 130s commented on #227
No. Arms are sitting on the pedestal whenever I've been trying to servoOn from `NextageOpenSupervisor`.

[2016-02-02 04:05] 130s commented on #227
And #153 shouldn't be influencing this particular issue (since #153 is about the height of the robot model).

[2016-02-02 04:48] emijah commented on #227
Can you switch the servos on after waiting a while?

[2016-02-02 04:48] emijah commented on #227
Ah  just re-read this.

[2016-02-02 04:50] emijah commented on #227
Is rtcd RobotHardware sitting on top of libiob.so or libNextageOpenCore.so?

[2016-02-02 05:00] 130s commented on #227
More precisely, the following's what happens. BUT, the chest lamp turns to green, no blink.

[code]

[2016-02-02 05:19] emijah commented on #227
Ah, so the robot servo is on?
If the robot doesn't have Futaba servo drive hands, the ServoController RTC cannot find anything to turn on. This will return an error.
If there are no hands or if the hands are not Futaba servo drive hands, you should use the NextageOpen controller instead.

[2016-02-02 05:25] 130s commented on #227
Sorry, I'm confused. This is NEXTAGE Open, so it should have not be shipped with Futaba servo AFAIK.

[2016-02-02 07:34] emijah commented on #227
That's right. I think that is the reason the controller is complaining that the ServoController can't work. There are no Futaba servo drives for it to talk to, so no Futaba servo can be switched on.
What if you use the NextageOpen class instead of HiroNX?

[2016-02-02 07:37] emijah commented on #227
The ServoController RTC is a dedicated software controller for Futaba servo drives connected with RS485 only.

[2016-02-02 08:08] harumo11 opened #229 "IK in setTargetPoseRelative fails for head joints in certain configuration"
I'm trying to move head (via joystick using #228 btw). In this particular case, robot faces toward left-bottom. IK failure occurs in the particular order of commands:
- Head down (giving negative pitch) then roll toward left (positive yaw) --> IK **failure**
- Opposite order (roll left then head down) --> **no failure**

[This link](http://1drv.ms/1WZhIzO) you can find the screenshot video and a r

[2016-02-03 03:20] 130s commented on #227
This also happens with a Hironx, at a different location from the original post.

[code]

And, from `hironx_ros_bridge` 1.0.31 this seems like NOT occurring.

[2016-02-03 08:02] #227 closed

[2016-02-05 18:57] 130s commented on #214
Although I haven't had a gear to try this, I'm curious if using IKFast makes any different. We have [a package dedicated for IKFast config](https://github.com/tork-a/rtmros_nextage/tree/indigo-devel/nextage_ik_plugin).

[2016-02-06 06:27] k-okada commented on #214
it won't help in this situation.

##

◉ Kei Okada

On Sat, Feb 6, 2016 at 3:58 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-02-10 00:03] #170 closed

[2016-02-10 00:04] 130s commented on #170
This issue is not solved but mitigated by #231.

[2016-02-10 15:29] hectorherrero opened #232 "Inconsistency between RVIZ/Moveit by adding linear axis to Nextage"
Hi,

We are trying to put the Nextage robot on to a linear axis.

But we are detecting strange issues in RVIZ/MoveIt simulations. Our first idea was to create virtual transform frames and change TF tree as follows:
- world
     - robot_base
        - odom
             - robot_footprint
                - WAIST

With a simple publisher we have robot TF tree (WAIST, CHEST_JOINT0, RARM_JOINT0, etc.) m

[2016-02-18 00:14] 130s commented on #232
I may be misunderstanding something but I haven't been able to replicate your issue. I've done:

[code]

I see:
![nxo_issue232_1_frame-waist](https://cloud.githubusercontent.com/assets/1840401/13129345/427a8cae-d591-11e5-89da-29cb3d373961.png)

Switching the `fixed frame` from WAIST to `world`, then I see:
![nxo_issue232_1_frame-world](https://cloud.githubusercontent.com/assets/1840401/13129352/48

[2016-02-18 10:23] hectorherrero commented on #232
Hi,

yes this is the same issue that we are talking about. In this moment if you add RobotModel plugging to RVIZ you will see that RobotModel appears on the `tf` skeleton.

I have realized that this process of disable/enable is what we are looking for. If I disable and enable again from RVIZ plugging the robot model of the Planning Scene appears in the same (in the right position for us) position

[2016-03-03 13:54] JKBehrens opened #234 "Robot state out of sync with Moveit!"
Hello,

I try to control a real KaWaDa Nextage Open Robot via Moveit!. Therefore, I start the rosbridge with

`roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch nameserver:=nextage`

which gives me the following output:

In this state, I am able to operate the robot via python with e.g.

`robot.setTargetPoseRelative('rarm', 'RARM_JOINT5', dx=0.05, dz=0.05, tm=5)`

Anyhow, when I start Mo

[2016-03-04 03:06] k-okada commented on #234
can you ping nextage?

##

◉ Kei Okada

On Thu, Mar 3, 2016 at 10:54 PM, Jan Behrens notifications@github.com
wrote:

[2016-03-04 12:01] JKBehrens commented on #234
Hello k-okada,

yes, I am and I was able to ping the robot using either
`ping nextage`
or
`ping 192.168.128.10`

Actually, we made some nice progress yesterday. Perhaps, someone can add more information to the rtmros_nextage tutorials to save time for future users.

What made a difference was to use eth0 network interface to connect to the robot. This was set up differently by the KaWaDa support.

[2016-03-07 23:37] 130s commented on #234
@JKBehrens Glad to know you've made it working!

Though very much hidden, `eth0` requirement [has been documented](http://wiki.ros.org/rtmros_nextage/Tutorials/Known%20Troubleshoots#No_or_less_tf_published). This time I also [added a note at a more general instruction page](http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine#Working_with_a_real_ro

[2016-03-07 23:37] #234 closed

[2016-03-11 16:22] 130s opened #235 "Interactive marker may or may not dissappear"
Following the issue that is originally addressed in the PR https://github.com/tork-a/rtmros_nextage/pull/233, I confirmed:
- that the issue still occurs with the latest public-synced debs, on my machine.
- that this PR solves the issue for my machine.
- <s>that on the new machine where ROS was just freshly installed, this issue does NOT occur.</s>

So it's probably my machine. But the question rem

[2016-03-11 16:33] 130s commented on #235
I have to cross out this line, because I found that they are using older version `0.6.2`. So, I don't know if this issue happens to only me or not.

[2016-03-12 10:25] k-okada commented on #235
how about removing cached config, i.e. 'rm -fr ~/.ros/'

also double chekc .bashrc, you still have local path for LD_LIBRARY_PATH
and PKG_CONFIG_PATH
LD_LIBRARY_PATH=/home/rospasta/cws_hironxo/install/lib:/home/rospasta/cws_hironxo/devel/lib:
PKG_CONFIG_PATH=/home/rospasta/cws_hironxo/install/lib/pkgconfig

##

◉ Kei Okada

On Sat, Mar 12, 2016 at 1:33 AM, Isaac I.Y. Saito notifications@github.com

[2016-03-13 02:29] 130s commented on #235
No good...

[code]

[2016-03-16 02:46] longjie opened #236 "nextage.py depends on python-termcolor"
I've got an error to run nextage.py with ipython:
[code]
and it is solved by installing python-termcolor.
The dependency of the package may be added.

[2016-03-16 03:49] k-okada commented on #236
thanks, this has been solved by https://github.com/start-jsk/rtmros_hironx/pull/442 and waiting for release.

[2016-03-16 03:49] #236 closed

[2016-03-16 04:02] k-okada commented on #236
FYI: you can check the PR before they actually release;

[code]

and you can revert this change by

[code]

[2016-03-16 07:00] longjie commented on #236
Thanks!

[2016-03-23 16:52] JKBehrens opened #240 "URDF/wrl model of nextage with CKD FH116-D hands"
Hello,

I am working on a nextage robot with different grippers supplied by KaWaDa. Here you can see a 3D-Scan of the gripper.
![nextage_hand00](https://cloud.githubusercontent.com/assets/17249817/13993143/5620159a-f11f-11e5-9067-5b1fdf44673c.png)

I just wanted to know if anyone has already adjusted the URDF and wrl model for using those grippers.

I would appreciate if anyone can provide me good

[2016-03-23 22:21] 130s commented on #240
I'm sure [this tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model) helps. Let me know on this ticket if you still need more info.

One thing that tutorial may not be clear about; if you write your code mainly in ROS, editing URDF might be enough. But if you want to utilize feature from `hrpsys` (controller running in lower-level on NEXTAGE Ope

[2016-04-02 08:54] harumo11 commented on #235
Hello.
On my PC. (Linux mint17.3)Resulted in following.

$uname -a
Linux harumo-ThinkPad-X250 3.19.0-32-generic #37~14.04.1-Ubuntu SMP Thu Oct 22 09:41:40 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

$dpkg -p ros-indigo-hironx-ros-bridge ros-indigo-nextage-ros-bridge ros-indigo-hrpsys ros-indigo-moveit-ros ros-indigo-rviz |grep Ver
Version: 1.1.7-0trusty-20160208-134735-0800
Version: 0.7.5-0trusty-201

[2016-04-04 12:47] DamienSalle commented on #214
Hi all.
This is still a blocking issue for Tecnalia...

Could you make any advances in solving the whole-torso control?
I mean, from two hand cartesian poses, compute the complete path including computing the torso rotation?
Thanks

[2016-04-05 02:13] k-okada commented on #214
As far as I understand, we need to update kdl plugin of moveit. If you know
any other moveit package that is able to control both arm + torso, please
let me know.

however, if you specify two hand cartesian poses + torso rotation angle ,
then moeve it can compute trajectory including torso angle, and usually
target torso rotation angle could be the direction to the center of two
hands.

##

◉ Kei

[2016-04-15 22:34] 130s commented on #240
@JKBehrens I'm closing due to inactivity but feel free to reopen with more info.

[2016-04-15 22:34] #240 closed

[2016-04-19 18:33] 130s commented on #214
May or may not be related issue with Baxter https://github.com/ros-planning/moveit_robots/pull/42

[2016-04-29 12:36] JKBehrens opened #243 "Topic /head_controller/state is not functional on robot and difference to simulation in gazebo"
Hello,

I was developing a functionality for moving the head using the topics

`/head_controller/state`

and

`/head_controller/command`

which was working just fine with the simulation in gazebo. When I tried to transfer to the robot I encountered some problems. First, the topic is of type

`pr2_controllers_msgs/JointTrajectoryControllerState`

instead of

`control_msgs/JointTrajectoryControllerS

[2016-04-29 13:22] JKBehrens opened #244 "URDF of Nextage Robot wrong"
Hello,

a few weeks ago, I was figuring out, that RARM_JOINT5_Link (probably also in the left arm) seem to be 7 mm to short in the URDF model. I was navigating the robot to a pose via rviz and moveit to save the pose using a query to tf. When I then asked the robot to move to the saved pose, it was not going completely there. A few mm were mising. As a workaround, I used different transformations

[2016-05-03 06:14] 130s commented on #244
Ok, I'll check the hardware this week. With rulers/tape measure.
I'd be great too if you could measure the length of your robot.

As a clarification, what component you're exactly referring to? The white shaft right above the second black "box" in the image below?
![nxo_vrml_hands_freecad](https://cloud.githubusercontent.com/assets/1840401/14975898/85334392-1141-11e6-9da9-70bcb0f24666.png)

[2016-05-03 06:15] 130s commented on #244
Also, can you provide a code and steps that we can observe the issue you mentioned?

[2016-05-03 06:15] 130s commented on #244
FYI @emijah

[2016-05-03 06:59] 130s commented on #243
How about:

[code]

You can also refer to an existing pull request https://github.com/start-jsk/rtmros_hironx/pull/427 for Hironx robot (same hardware with NEXTAGE Open. It's just naming with minor software difference).

[2016-05-03 14:02] JKBehrens commented on #244
Thank you for your fast response! I am working this week at a different location. I can give you exact information on next Monday.
For now:
I moved the gripper to a pose using the interactive markers in RVIZ and read the Position of the EEF via
`rosrun tf tf_echo /WAIST /RARM_JOINT5_Link`
Then I asked moveit to move the arm to the saved pose, which resulted in a slightly different pose.

Might it

[2016-05-03 14:22] JKBehrens commented on #243
Yes, I will try to use these interfaces next.

Actually, I adjusted the PR2-Code for pointing the head at a pose which is mentioned there for the nextage robot:
https://github.com/start-jsk/rtmros_hironx/pull/427

I had it working nicely in gazebo simulation. When I finished and cleaned up my code, I will contribute to the mentioned pull request.

I opened this ticket, because the simulation is be

[2016-05-05 07:50] hectorherrero commented on #232
Hi,

I will close this issue since I have solved the problem correctly setting the following:

**In hrpsys_ros_bridge/launch/hrpsys_ros_bridge.launch:**
Change:
`<arg name="USE_ROBOT_POSE_EKF" default="true" />`
To:
`<arg name="USE_ROBOT_POSE_EKF" default="false" />`
Add remap to:

[code]

So:

[code]

**A node which publishes robot_base frame.** This frame represents the position of the linear ax

[2016-05-05 07:51] #232 closed

[2016-05-06 07:21] 130s commented on #244
Ok, I'll write a sample code for it.
Meanwhile, can you provide the tf value AND the actual pose value you use? @JKBehrens

Also, if necessary, @emijah can help measuring the actual robot.

[2016-05-06 07:42] emijah commented on #244
I've checked the Nextage Open model against the HiroNX collada file and found that the translation for RARM_JOINT5 and LARM_JOINT5 differs between the two files. The Nextage Open files both vrml and collada define the translation for the final joint as (-0.047, 0.0, -0.090). The HiroNX collada file has the translation down as, (-0.04, 0, -0.09). So there is a difference of 7[mm] between the two. I

[2016-05-06 08:40] hectorherrero commented on #244
Hi Jan,

At Tecnalia (spanish research center) we have a Nextage robot for a few years, we have worked in several projects not only in terms of research conditions but also for industrial environments.

We can reproduce this same issue with also 7mm of difference between the collada file of QNX controller and the URDF model that MoveIt is using for path planning and execution. But no only this, we

[2016-05-09 00:39] emijah commented on #244
It could be a case of one model being used for one thing, and another model being used for another...

[2016-05-09 01:04] emijah commented on #244
I re-checked the CAD model today. The correct value is 47mm.
The collada model for HiroNX is wrong, so please amend.

[2016-05-09 09:11] 130s commented on #232
Glad you found a solution!

Isn't that `joint_states_robot`, according to your application launch file?

[2016-05-09 10:50] hectorherrero commented on #232
You are right, thank you!

I have edited the answer.

[2016-05-10 13:30] JKBehrens commented on #244
@emijah Yes, that is what I experience.

In Nextage.urdf of the package nextage_description, I find:

[code]

while

`rosrun tf tf_echo /RARM_JOINT4_Link /RARM_JOINT5_Link`

gives me

[code]

I think, it is really inconvenient to have inconsistent models, because this blocks for example teaching poses.

I post the output of the rosbridge terminal here just to be sure.

I am especially wondering ab

[2016-05-10 18:53] 130s commented on #31
I think we can continue this in #244.

[2016-05-10 18:53] #31 closed

[2016-05-11 00:53] 130s commented on #244
@JKBehrens To address this issue I made pull requests that I can't test without real robot (I do not have access to it immediately). If you could test that'll be great, but if you're not sure then don't hesitate to let me know.

To apply the changes, you need build `rtmros_nextage` from source like this.

[code]

[2016-05-11 09:30] JKBehrens commented on #244
@130s I built it from source and started the rosbridge, but it is not coming up. CollisionDetector is not found and startup of moveit fails. Is it still correct to start the rosbridge by

`roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch MODEL_FILE:=/opt/jsk/etc/HIRONX/model/main.wrl`

??

Rosbridge output:

[code]

Moveit output:

[code]

[2016-05-11 14:48] k-okada commented on #31
Now i understand why you mentioned the "black box" at
https://github.com/tork-a/rtmros_nextage/issues/244#issuecomment-216446999
this issue address difference in geometry model where as #244 is discussing
about the kinematics of the model.

##

◉ Kei Okada

On Wed, May 11, 2016 at 3:53 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-05-12 07:48] emijah commented on #244
I issued a pull request for the HiroNX collada model. However, I need someone to generate the other models from the collada file.
The pull request is, start-jsk/rtmros_hironx#461

[2016-05-13 08:57] 130s commented on #244
@JKBehrens My bad, with the change I proposed, correct command for your robot should have been:

[code]

(I know the command is getting longer...we will need to come up with a solution for that but for now please bear with it ;)

---

NOTE for future reader: the aforementioned command is only for the NEXTAGE Open robot that does not contain `/opt/jsk/etc/NEXTAGE` folder internal to the ControlBox/

[2016-05-13 09:05] 130s commented on #31
Isn't the root cause of #244 the difference of model geometry between Hiro and NXO?

[2016-05-13 09:11] k-okada commented on #31
sorry geometry means shape (of each links), which is independent from
kinematics of the robots

##

◉ Kei Okada

On Fri, May 13, 2016 at 6:05 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-05-13 11:31] JKBehrens commented on #244
@130s Now, the Rosbridge is coming up. Furthermore, from
`rosrun tf tf_echo /RARM_JOINT4_Link /RARM_JOINT5_Link`
I get

[code]

, which is now consistent with the URDF file. Thank you all!!!

Can I now rely on the equivalence of the models or did you just fix the pointed differences? Would it be useful to update the software and files on the QNX?

[2016-05-17 01:27] 130s commented on #244
Glad that the changes worked for you @JKBehrens !

So for `NEXTAGE Open` robot (which you are using), there's no need to worry for incorrect model files as far as we know -- the root cause of this ticketed issue is that the software of NEXTAGE Open was referring to the model of Hironx robot (former version of NEXTAGE) where there seems to be a slight geometric difference (patch https://github.com/

[2016-05-17 01:27] #244 closed

[2016-05-17 01:28] 130s commented on #244
BTW, the changes made for this ticket will soon be available via DEB binary with the following versions (or greater):
- rtmros_hironx 1.1.13
- rtmros_nextage 0.7.7

[2016-05-27 19:35] 130s commented on #235
I re-installed Ubuntu on the same machine I used for [my initial report](https://github.com/tork-a/rtmros_nextage/issues/235#issue-140227290) and am still seeing this issue.

[code]

[2016-05-28 12:09] k-okada commented on #235
how about output of glxinfo

##

◉ Kei Okada

On Sat, May 28, 2016 at 4:35 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-06-07 18:04] 130s opened #246 "ATTN NEXTAGE Open ROS users: Model file correction was made"
TO NEXTAGE Open ROS package users (excluding Hironx users),

recently we found that NEXTAGE Open ROS package handles its 3D model incorrectly and it resulted in wrong tf output.
Fix is already made available in `apt-get`-able form. If you

**Version that includes the fix**
nextage_ros_bridge 0.7.7

You can check the version of your software by a single command:

    rosversion nextage_ros_bridge &

[2016-06-07 18:12] 130s commented on #246
TO NEXTAGE Open ROS package users (excluding Hironx users),

recently we found that NEXTAGE Open ROS package handles its 3D model incorrectly and it resulted in wrong `tf` output.
Fix is already made available in `apt-get`-able form.

**Affected (and not affected) users**
You're affected if:
- you use ROS tf in your application.

You may not be affected if:
- you're only using `hrpsys` inferface (

[2016-06-07 18:30] 130s commented on #246
TO NEXTAGE Open ROS package users (excluding Hironx users),

recently we found that NEXTAGE Open ROS package handles its 3D model incorrectly and it resulted in wrong `tf` output.
Fix is already made available in `apt-get`-able form.

**Affected (and not affected) users**
You're likely affected if you use end-effectors' geometry in your application by:
- ROS `tf`.
- accessing model file(s) directl

[2016-06-07 19:02] 130s commented on #246
TO NEXTAGE Open ROS package users (excluding Hironx users),

recently we found that NEXTAGE Open ROS package handles its 3D model incorrectly and it resulted in wrong `tf` output.
Fix is already made available in `apt-get`-able form.

**Affected (and not affected) users**
You're likely affected if you use end-effectors' geometry in your application with the real robot by:
- ROS `tf`.
- accessing m

[2016-06-22 08:14] hectorherrero opened #248 "CORBA.COMM_FAILURE - Communication with the robot is lost"
Hi,

we are suffering this CORBA.COMM_FAILURE frecuently, and we have realized that when we are working intensively with the robot testing and debugging applications (which implies frecuent close and relaunch ros applications nodes) this problems always arise.

The usual scenario is as follows:
Terminal 1: `roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch nameserver:=hiro019`
Terminal 2

[2016-06-22 18:27] 130s commented on #248
@hectorherrero while some error messages seem familliar, I do appreciate more info indeed.

It'd be helpful if you could count how many times you run and teminate nodes with how long of intervals, so that I can write test codes (that could hopefull reproduce your issue).

Just a clarification; do you always see the same error message like above whenever the issue you metioned happens?

And, to sha

[2016-06-27 07:21] hectorherrero commented on #248
This is difficult to determinate, as the intervals change depending the errors or the results of the tests that we are testing. But the perception is that the faster the application is relaunched (small changes and adjustments) most probable is the error appears.
I was able to reproduce the error launching and killing by hand several (al least 6 terminal in pararell) `ipython nextage`clients and t

[2016-07-08 07:49] hectorherrero commented on #248
Since we continue suffering this issue, we have started to perform different stress tests, leaving the robot working for long time. But as commented above the issue appears when we are relaunching applications intensively.
Do you know another test that we can perform in order to get more information? How can we obtain information or logfiles from the QNX system?

Thanks

[2016-07-08 08:01] k-okada commented on #248
HI, not sure if I understand your problem correctly, theoretically  you do not need to run `nextage_clinet.py` for your application, that command is basically designed to "wake up" the robots, which means it  loads and activates hrpsys plugins (components), and once they have started, you do not need run thease procedure again. So if you want to use ROS client,  just to run python and import rospy

[2016-07-08 09:10] hectorherrero commented on #248
Hi, currently our applications are using nextage_client because we need an instance for controlling the robot via python. I have tried `hrpsyspy`  for one of our application and works (apparently) without problems. The only issue that I have found is that hrpsys does not have `goInitial()` method.

So, if nextage_client.py could be modified for not loading and activating plugins will be great, bec

[2016-07-10 10:11] 534o commented on #248
OK, please make sure that you have `hironx_ros_bridge` package under `/opt/ros/...`

[code]

and then run following command for apply patch file;

[code]

TORK support team

[2016-07-11 17:44] 130s commented on #248
Now [the proposed fix](https://github.com/tork-a/rtmros_nextage/issues/248#issuecomment-231581126) is merged to the master (a.k.a `indigo-devel`) branch. If you're using `nextage_ros_bridge` package from source, you can simply clone the repo into your catkin workspace. Let us know if it works. Thanks.

[2016-07-11 18:04] 130s opened #249 "Write access to this repo is granted to another user @ros-pull-request-builder"
Once my question [here](http://answers.ros.org/question/239060/usage-of-test_commit-and-test_pull_requests-in-rosdistro-file/) is resolved we may revoke the write access (I have a feeling that the ROS pull request test doesn't require write access to each repo, so hopefully I might be misunderstanding something).

[2016-07-12 06:36] hectorherrero commented on #248
For the moment I have tested on my PC and works without side effects (simulation). The Ubuntu PC of the robot has ROS Hydro, so I cannot test directly. I will connect my laptop and perform some tests as soon as possible.

Thanks!

[2016-09-03 09:27] k-okada commented on #235
I had also run into same problem and found following commit (https://github.com/tork-a/rtmros_nextage/commit/afc801b4be578bbcf7d664a991248707ff000164) does something wrong, this also have trouble when you add "Robot Model" in rviz, it said it can not solve 'world' to 'WAIST' that make sense.

I can fix this problem by changing urdf as follows,

[code]

[2016-09-03 16:41] k-okada commented on #249
did you fix this problem? if not, can we remove ros-pull-request-builder? I do not think I can take care of both travis and ros-pull-request-builder when we have problem...

[2016-09-04 00:44] 130s commented on #249
Turned out that the check by the ROS buildfarm is the best suitable for libraries in lower level (e.g. roscpp or such). Since NXO packages are very high-level, along with ambiguous build errors (#253 etc.), I think we can remove it from our PR check, which I already did.

[2016-09-04 00:44] #249 closed

[2016-09-04 15:48] k-okada commented on #235
should be fixed via https://github.com/tork-a/rtmros_nextage/pull/255/commits/ec511564771bb7068d75f2859f58f1f18b85fae6
please reopen if you still have problem, at that time please also provide output file of `rosurn tf view_frames`

[2016-09-04 15:48] #235 closed

[2016-09-05 04:53] k-okada commented on #243
Sorry for long silence, i have updated pointing the head code, https://github.com/start-jsk/rtmros_hironx/pull/468
you need to update rtmros bridge system with https://github.com/start-jsk/rtmros_common/pull/966 patch

[2016-09-05 04:57] k-okada commented on #229
sorry for not looking this, could re-enable the like so that I can re-produce this? thanks in advance.

[2016-09-05 05:31] k-okada commented on #229
I think I can reproduce the problem,

[code]

[code]

[2016-09-05 05:32] k-okada commented on #229
Work around for this is to set wider ik error, as follows.

[code]

[code]

[2016-09-05 05:42] k-okada commented on #220
Hi, sorry for super late,

When you start up the nextage-ros systems, the robot model is stored in two locations, one ins wrl file in QNX side (RTM system)
https://github.com/tork-a/rtmros_nextage/blob/indigo-devel/nextage_ros_bridge/launch/nextage_ros_bridge_real.launch#L5
and the other is collada file used in ROS system.
https://github.com/tork-a/rtmros_nextage/blob/indigo-devel/nextage_ros_brid

[2016-09-05 05:46] #215 closed

[2016-09-05 05:48] #197 closed

[2016-09-05 05:49] #182 closed

[2016-09-05 05:49] k-okada commented on #182
no information updated recently, please re-open if you still have trouble

[2016-09-05 11:47] k-okada commented on #175
please re-open if you still have this problem, I think if it works on hrpsys simulator, then it should work on real robot.

[2016-09-05 11:47] #175 closed

[2016-09-05 15:31] k-okada commented on #151
Clicking Nextage Icon launch rviz and you can control robot using moveit rviz interface, so I think this problem as been solved.

need #257

![screenshot from 2016-09-06 00 28 59](https://cloud.githubusercontent.com/assets/493276/18252329/127be030-73c9-11e6-8181-76ccfca277fc.png)

[2016-09-05 15:31] #151 closed

[2016-09-05 15:55] k-okada commented on #143
please reopen if this still happens

[2016-09-05 15:55] #143 closed

[2016-09-05 15:57] k-okada commented on #142
please reopen if this still happens,

[code]

[2016-09-05 15:57] #142 closed

[2016-09-05 16:08] k-okada commented on #135
I do not think this is a bug,WAIST is waist, not a base_footprint, so this setting is ok.

[2016-09-05 16:08] #135 closed

[2016-09-05 16:09] k-okada commented on #123
@terakoji please provide an information of how to reproduce this problem

[2016-09-05 16:10] k-okada commented on #104
closing, if wiki page is not complete, please re-open

[2016-09-05 16:10] #104 closed

[2016-09-05 16:52] k-okada commented on #61
I do not think we can rewrite this code without using ENV variables,

with https://github.com/tork-a/rtmros_nextage/pull/258, we can run `catkin_lint` without warning

[code]

[2016-09-05 16:52] #61 closed

[2016-09-05 23:14] #35 closed

[2016-09-05 23:15] k-okada commented on #21
closed since this seems very difficult to change.

[2016-09-05 23:15] #21 closed

[2016-09-05 23:23] k-okada commented on #19
`ROS_Client` is subclass of `RobotCommander` so it can run 'pick' and 'place' method, is that OK?
also PickAndPlace link is dead, please update @130s

[2016-09-20 13:38] terakoji commented on #123
再現させようと思ったのですが、久しぶりに起動しようとしたら

[code]

が出てしまいます。なにかわかりますでしょうか？

[2016-09-20 13:58] terakoji commented on #123
自己解決しました。　apt-get upgrade したらエラーが消えました。

[2016-10-05 09:19] hectorherrero opened #260 "getCurrentPosition() returns bad values"
Hi,

after recent updates (I have detected last week) we are getting not coherent results of getCurrentPosition() function from nextage.py script.

The difference between `getCurrentPosition()` and `TF` values is around 0.97m. the same value that we have detected long time ago:
[code]

However, hironx (I have tested with hironx.py script) is working well, giving expected values:
[code]

I have tri

[2016-10-07 23:50] k-okada commented on #260
Sorry for inconvenience, The problem is that the version of hrpsys bumped to 315.10.x and version and our checking script  did not working well. We have fixed this issue at
https://github.com/start-jsk/rtmros_hironx/pull/469
and if you'd like to apply hotfix to your deb  installed scripts, please try

[code]

[2016-10-12 10:15] 130s opened #262 "error: [Errno 111] Connection refused"
This happens without having rosbridge (or simply roscore) running.
[code]
With the following command running, this issue doesn't occur.

     roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch MODEL_FILE:=/opt/jsk/etc/HIRONX/model/main.wrl

[2016-10-13 00:09] #262 closed

[2016-10-13 00:45] 130s commented on #260
I just made a new release 1.1.17 of rtmros_hironx https://github.com/ros/rosdistro/pull/12940
Its binary will be available in the next public sync, and if you're keen on it then you'll be able to grab them from [shadow-fixed](http://wiki.ros.org/ShadowRepository) repo prior to pub sync.

[2016-10-17 15:06] hectorherrero commented on #260
Thanks, after applying the patch all is working as expected.

Do you know when will be available on normal ros repositories?

[2016-10-17 21:34] 130s commented on #260
It's OSRF that decides the schedule, but I just [posted a request](http://discourse.ros.org/t/preparing-for-indigo-sync-2016-09-21/506/3) so if you're keen on the timing please watch that thread.

[2016-10-17 21:34] #260 closed

[2016-10-17 23:43] shzargar opened #265 "roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch nameserver:=nextage doesn't work"
Hi,
I am a beginner, and start working with a nextage open robot. I had difficulty to connect to the robot (the same issues as in https://github.com/start-jsk/rtmros_hironx/issues/33) even with only eth0 connected.

I tried to make an update $sudo apt-get update && sudo apt-get dist-upgrade (as it is suggested in http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users)

Af

[2016-10-18 07:20] 130s commented on #265
A few things,

Without taking a deeper look, I assume you're using a NEXTAGE Open with `hrpsys` controller of version 315.1.x. For that version, you need to run `rtm_ros bridge` launch with `MODEL_FILE` argument.

[code]

For the detail of this change, see the announcement https://github.com/tork-a/rtmros_nextage/issues/153

BTW, knowing it's very cumbersome to add such a convoluted argument, I pr

[2016-10-18 09:10] 130s commented on #214
@TecnaliaRobotics
- Is this still an issue to you?
- In [a recent update](https://github.com/tork-a/rtmros_nextage/pull/251), `{left, right}_arm_torso` planning groups are added (from `rtmros_nextage` version 0.7.9). Does that help?

[2016-10-18 09:13] 130s commented on #248
Closing with a lack of activity. Feel free to reopen if the issue persists.

[2016-10-18 09:15] DamienSalle commented on #248
The issue persists! Even in your latest patch  in Indigo.
Hector was going to contact you for a real and stable solution…

De: Isaac I.Y. Saito [mailto:notifications@github.com]
Enviado el: martes, 18 de octubre de 2016 11:14
Para: tork-a/rtmros_nextage
Asunto: Re: [tork-a/rtmros_nextage] CORBA.COMM_FAILURE - Communication with the robot is lost (#248)

Closing with a lack of activity. Feel free t

[2016-10-18 09:16] DamienSalle commented on #214
I didn’t try with this update…
Did you run the script I sent you to check if this updates solves it?

De: Isaac I.Y. Saito [mailto:notifications@github.com]
Enviado el: martes, 18 de octubre de 2016 11:11
Para: tork-a/rtmros_nextage
CC: Salle, Damien; Mention
Asunto: Re: [tork-a/rtmros_nextage] Issue planning dual-arm motions (with torso) from Python (#214)

@TecnaliaRoboticshttps://github.com/Tec

[2016-10-18 10:00] hectorherrero commented on #248
Sorry for the inactivity, last week we had been in a trade fair executing continuously another application. In this case we have updated the Ubuntu PC to 14.04 and Indigo with standard hironx/nextage packages. We have detected (probably not too often than with the Hydro release) CORBA connection issue.

I think that the deb that we used did not have the proposed fix, so as starting point, how can

[2016-10-18 11:32] k-okada commented on #153
[code]

why we have to change this? why we did not set default MODEL_FILE values?

[2016-10-18 11:48] 534o commented on #248
please let me know which version of hrpsys in PC side (rosversion hrpsys) and also try something like `hrpsyspy --host hiro019 --port 15005` to connect ros client, my first thought is that `nextage_clinet.py` is calling `self.activateComps()` which is not requried if that is already activated.

[2016-10-18 22:04] 130s commented on #137
@k-okada does this ticket answer to your question https://github.com/tork-a/rtmros_nextage/issues/153#issuecomment-254481262?

If not,

`nextage_ros_bridge_real.launch` defaults `MODEL_FILE` to `/opt/jsk/etc/NEXTAGE/model/main.wrl`. Newer users' robots are installed with this directory. Robots at older users come with `/opt/jsk/etc/HIRONX/model/main.wrl`.

[2016-10-18 22:28] shzargar commented on #265
Thanks for your reply. First, when you are talking about hrpsys version of controller, do you mean QNX? Then, how can I make sure that is the version you mentioned?

I added the model to roslunch, I disconnected from internet to make sure that eth0 is the only connection (when I am connected to internet, the error is

[code]

[2016-10-18 22:30] shzargar commented on #265
with internet connection:

[code]

[2016-10-18 23:22] k-okada commented on #137
Ok so does old or new robot have model file in both location
(/opt/jsk/etc/HIRONX or /opt/jsk/etc/NEXTAGE) ? Or one of them?

2016年10月19日水曜日、Isaac I.Y. Saitonotifications@github.comさんは書きました:

##

##

◉ Kei Okada

[2016-10-19 02:46] 130s commented on #137
- Older robots have only `/opt/jsk/etc/HIRONX`
- Newer robots have only `/opt/jsk/etc/NEXTAGE`

Note "robot" here is NEXTAGE Open, excluding Hironx.

[2016-10-19 08:47] 130s commented on #265
In your https://github.com/tork-a/rtmros_nextage/issues/265#issuecomment-254657955 where you disconnect the cable to the internet, I don't see the issue you originally raised, which is good.

In https://github.com/tork-a/rtmros_nextage/issues/265#issuecomment-254658308 where you probably connect internet cable as well, what did you get when you ran `roslaunch`? Network config seems fine to me but

[2016-10-21 11:36] 130s opened #267 "[Question] Sim and real robot operation mismatch, upgrade from ROS Hydro to Indigo"
@shzargar I split your inquiries from https://github.com/tork-a/rtmros_nextage/pull/266#issuecomment-255280188 as a new ticket here.

When you work with a real robot (i.e. not the robot on simulation), commands are slightly different. The best, simplest instruction may be found in [Quick Start](http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users) tutorial.

I don't thi

[2016-10-21 11:36] #267 closed

[2016-10-21 12:53] hectorherrero commented on #248
[code]

The output of `hrpsyspy --host hiro019 --port 15005`:

[code]

If I run `ipython -i`rospack find nextage_ros_bridge`/script/nextage.py -- --host hiro019 --robot RobotHardware0 --port 15005 --modelfile /opt/jsk/etc/HIRONX/model/main.wrl`:

[code]

[2016-10-21 22:44] shzargar opened #268 "Is it possible to connect to QNX with a laptop and how?"
Hi,

Is it possible to connect to QNX with a laptop and how?
I want to check if Ubuntu 14.04 and Indigo can solve my problem to launch hrpsys, before upgrading UI computer.

Thanks

[2016-10-21 23:08] 130s commented on #268
Go through quick start http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users

You may want to add to `/etc/hosts` the following):

[code]

(IP address may vary per your environment. This should be done by the manufacturer for the UI Controller's Ubuntu. If this is not documented I'll add to a tutorial, sorry)

[2016-10-22 01:30] shzargar commented on #268
I have read the quick start many times, but it is not talking how to connect another computer (not UI computer) to QNX. There are lots of connections between QNX and UI computer, what should be done if another computer or a laptop is used instead of UI computer?
Or I should only connect the second computer via lan connection which is beside, the green and blue button on robot's back? and don't tou

[2016-10-24 13:38] 130s commented on #248
@hectorherrero In your https://github.com/tork-a/rtmros_nextage/issues/248#issuecomment-255370200, I don't see your issue any more. Can using Indigo version be a fix to you?

[2016-10-24 15:25] hectorherrero commented on #248
With my last comment I want to assure that the proposed fix is actually applied (from my understanding it is). But as I commented:

We need to continue making tests and obtaining logs in order to be sure that the problem is fixed.

[2016-10-24 16:01] 130s commented on #268
Quick Start tutorial only talks about the very basic situation (primarilly for those who just purchased the robot).
For adding another Ubuntu machine, you can see [this section of a tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine#Working_with_a_real_robot).

Unfortunately I'm not entirely sure about this hardware-level setting. Your

[2016-10-25 01:02] shzargar commented on #268
Thanks, I will contact Kawada directly.

[2016-10-25 01:29] 534o commented on #248
@hectorherrero
the difference between `hrpsyspy` and `nextage_clinet.py` is that later one calls `activateComp()` which is already called before,
- Please run `hrpsyspy` many times and  see if the problem occurs, If not we can add `--client` mode for `nextage_client.py` that will fix this problem
-  if you run `hrpsyspy --host hiro019 --port 15005`, then you can use the `hcf` object instance as yo

[2016-10-25 18:14] 534o commented on #248
@hectorherrero

please run `hrpsyspy --host hiro019 --port 15005` may times and that did
not raise problem ,
if that works you can use hcf instance as robot/nxo instance in nextage.py,
if you prefer to continue using nextage.py, we can add client mode for
nextage.py, which did not run `self.activateComps()`

On Wed, Oct 19, 2016 at 5:49 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-11-01 03:48] 130s opened #269 "ModelLoaderException: OpenHRP.ModelLoader.ModelLoaderException(description='/opt/jsk/etc/NEXTAGE/model/main.wrl cannot be found.')"
[code]

hrpsys inside of the robot is 315.1.8.

[2016-11-01 04:19] 130s commented on #269
I confirmed that this is a bug that happens with nextage_ros_bridge https://github.com/tork-a/rtmros_nextage/commit/f6e0dbcc1c2c8f8f26447025ff41c1598b8f4a42 (which is after https://github.com/tork-a/rtmros_nextage/pull/241 was merged).

[2016-11-01 05:06] 130s commented on #269
Also confirmed is that with `modelfile` option this issue doesn't happen.

[code]

[2016-11-02 02:29] shzargar commented on #265
[code]

This command is working, even though is giving some error messages.

I bug, since in Hydro before update, when I run this command (without model) hrpsys viewer was launching. With this command, even with errors and the fact that hrpsys viewer doesn't show up, we can go ahead and run moveit, then python to move the robot with python commands.

[2016-11-04 21:04] shzargar opened #270 "robot.setTargetPose failed IK error"
Hello,

On a real robot (nextage open), I used these commands as per http://wiki.ros.org/rtmros_nextage/Tutorials/Programming_Hiro_NEXTAGE_OPEN_RTM, but I got the error.

In [15]: robot.goInitial()
[hrpsys.py] , JntAnglesOfGr=torso, INITPOSE[i]=[0], tm=7, wait=True
[hrpsys.py] , JntAnglesOfGr=head, INITPOSE[i]=[0, 0], tm=7, wait=True
[hrpsys.py] , JntAnglesOfGr=rarm, INITPOSE[i]=[-0.6, 0, -100, 15

[2016-11-05 09:10] 130s commented on #265
Glad that things got moving forward for you!

I've been under impression that the tutorials might have confused you about how to launch ROS process by `nextage_ros_bridge*.launch` files.
- One starts with `rtmlaunch` is always used for simulation ONLY (although it's also used internally when you're running a real robot. See https://github.com/tork-a/rtmros_nextage/issues/265#issuecomment-259262033

[2016-11-05 09:10] #265 closed

[2016-11-05 10:01] 130s commented on #270
Thanks for pointing that out. Although the page states "Then randomly manipulate position", it doesn't mean that we can leave non-working code sample in the tutorial. The piece of the code you referred to was written years old and I don't know if there has been changes that made it not to work. I [updated the tutorial](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Programming_Hiro_NEXTA

[2016-11-05 10:01] #270 closed

[2016-11-05 17:55] shzargar commented on #265
Isaac,

Thanks for your comment, actually, I think that I have always used roslaunch for real robot. The fact is that using roslaunch for the real robot, I see the rtmlaunch error, which I learned to ignore it and go forward to launch moveit.

Thanks,
Amir

---

From: Isaac I.Y. Saito [notifications@github.com]
Sent: Saturday, November 05, 2016 5:10 AM
To: tork-a/rtmros_nextage
Cc: Hajzargarbashi,

[2016-11-06 07:26] 130s opened #271 "Network config on Ubuntu client machine"
Answering a question I got offline.

That's a valid question, and no, you don't need to. I [added a few lines on the tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine#Working_with_a_real_robot) to answer to this question better.

Feel free to comment back if anything is still unclear.

CC @shzargar

[2016-11-06 07:26] #271 closed

[2016-11-06 07:34] 130s commented on #265
I see.

If possible, could you share the full output of the **roslaunch** command where you see `rtmlaunch` included (I don't have an access to real robot now)? I saw you posted https://github.com/tork-a/rtmros_nextage/issues/265#issuecomment-254657955 that I can't tell clearly if it comes from real or simulated robot. If you can confirm that is from real, that's fine.

[2016-11-06 14:04] shzargar opened #272 "Simulation- python problem"
In this sequence to simulate the robot motion:

on the first terminal;
[code]

on the second one;
[code]
and on the third one;
[code]

I am getting this error.

[code]
and then those commands for robot. is not available.

[2016-11-06 14:14] shzargar commented on #272
The above sequence is based on http://wiki.ros.org/rtmros_nextage/Tutorials/Operating%20Hiro%2C%20NEXTAGE%20OPEN.

In another tutorial (http://wiki.ros.org/rtmros_nextage/Tutorials/Run%20simulation), it is not mentioned to launch moveit (Rviz). I confirm that with or without moveit, python is not working for me.